[2019-10-23 12:41] kenchris commented on #78
We could potentially also do a lastReading or so similar to Generic Sensors

[2019-10-23 12:41] #53 closed, assigned to nobody

[2019-10-23 12:43] kenchris commented on #354
What is missing @zolkis

[2019-10-23 12:44] #245 closed, assigned to nobody

[2019-10-23 12:59] zolkis commented on #354
It should be fine now.

[2019-10-24 06:46] leonhsl opened #408 "Missing some record types in the algo creating ndef messages"
https://w3c.github.io/web-nfc/#creating-ndef-message needs to be updated to handle all possible record types, at least "smart-poster" and "absolute-url" are missing now.

[2019-10-24 06:50] leonhsl opened #409 "What's the definition of "a standard local type to smart poster or a handover record"?"
5.2 of https://w3c.github.io/web-nfc/#dfn-map-local-type-to-ndef:

`recordType` is just a text starting with a lower case character or a number, how could we check whether it's `a standard local type to smart poster or a handover record`? There is no definition for `a standard local type to smart poster or a handover record` in the spec.

[2019-10-24 07:30] zolkis commented on #408
Also, we need to provide algorithms to match external type and local type.

[2019-10-24 07:33] zolkis commented on #409
The standard local types for smart-poster and handover types (which we don't use for now) are enumerated in [this section](https://w3c.github.io/web-nfc/#well-known-type-records-tnf-1).
Should we have explicit algorithm to match external/standard local/local types?

[2019-10-24 07:58] leonhsl commented on #409
Do you mean the above enumeration? They are NOT local type names.

[2019-10-24 08:10] zolkis commented on #409
No, I meant the `s`, `t` and `act` in `smart-poster` context, but they may be reused in other context with different meaning. The work "standard" doesn't really mean anything normative here, it's like NFC Forum used a few local types that are called "standard" local types.

The checking should be like
- if a string is a match for being external type, then it is
- otherwise, if a string is a match

[2019-10-24 08:57] leonhsl commented on #409
Sure we just treat it as an external type record if the type string matches the rule of external types, no matter it's in an embedded context or not.

The question is for the following step, how could we tell it should be converted to external type record (TNF=4) or well-known type record (TNF=1)?

Probably the only case for TNF=1 should just be "the s, t and act in smart-poster", and handover typ

[2019-10-24 09:18] leonhsl opened #410 "android.nfc.NdefRecord.createXXX() does not have a parameter for record's id"
In our impl, we use android.nfc.NdefRecord.createXXX() helper functions to construct {Text,Uri,Mime,External} records then write them into nfc tags, as we want to write the record's id now, we found that these helper functions do not allow us to pass any id information.

We can switch to use NdefRecord ctor which can accept the id, but it lacks lots of checks those helpers do. Any good idea for th

[2019-10-24 09:51] zolkis commented on #409
So yes, the only TNF=1 are the `s`, `t` and `act` (local) type records that are inside the context of a TNF=1 "Sp" record. All the others are TNF=4.
Handover records are TNF=1 but ATM we don't support them.

It is important to emphasize that from name/string matching point of view, local type names are not a subset of external type names. Strings that match as external types are not treated as loc

[2019-10-24 09:57] kenchris commented on #409
Local types means that types that are restricted to a certain other type of record. As they (their names and behavior) are restricted they don't need any namespacing as their names/types can be used inside other records with totally other meaning and data payload

[2019-10-24 09:57] zolkis commented on #410
IMHO the only way Android allows us is to use the low-level constructors and do the checks ourselves (i,e, fully manual mode).

[2019-10-24 10:01] kenchris commented on #410
That also seems pretty fine. It gives us a lot of flexibility and it is easier to make sure that no "magic" happens in those methods that actually makes up not compatible with the spec.

I think it would be good to check what checks those helpers do. Maybe we miss something in the spec, or maybe they are just obvious checks that we should also do in our implementation

[2019-10-24 10:31] beaufortfrancois commented on #410
Yes, we should not rely on those helper functions. For info, I've started to bypass `createTextRecord` for instance in https://chromium-review.googlesource.com/c/chromium/src/+/1876390/6/services/device/nfc/android/java/src/org/chromium/device/nfc/NdefMessageUtils.java

[2019-10-24 10:32] beaufortfrancois commented on #409
See https://github.com/w3c/web-nfc/pull/411

[2019-10-28 06:56] beaufortfrancois opened #414 "Wrong Absolute-URL recordType in Data Mapping?"
I think `recordType` in https://w3c.github.io/web-nfc/#data-mapping should be "absolute-url" instead of "url" for TNF Field set to 3. Is that right or am I missing something?

![image](https://user-images.githubusercontent.com/634478/67657845-3ac5f180-f958-11e9-8989-0b6d06ca78be.png)

[2019-10-28 06:57] beaufortfrancois commented on #414
I'm happy to send a PR to fix it if needed,

[2019-10-28 07:17] beaufortfrancois commented on #279
I didn't find any other solution sadly that satisfies me but re-adding the NDEFError event.
@zolkis for thoughts as well.

[2019-10-28 07:41] beaufortfrancois commented on #78
I'd like to pursue this as this makes it an interesting use case for sure.

[code]

Let's bikeshed on the name later. For now, I think we should expose the event (serialNumber + message) that triggered the discovery of the website user landed on. WDYT?

[2019-10-28 07:59] beaufortfrancois commented on #387
I'd like that.

We should also make sure our test suite covers the fact that pushing read data ends up with the same data on the tag.

[2019-10-28 08:44] zolkis commented on #414
That's right, how come it's not `"absolute-url"`... grrr...

[2019-10-28 08:46] zolkis commented on #279
I think so, too.

[2019-10-28 09:01] beaufortfrancois commented on #309
If we're good, can we close this issue?

[2019-10-28 09:15] zolkis commented on #78
There seem to be several issues in this issue.
The [original comment](https://github.com/w3c/web-nfc/issues/78#issue-113714986) seems to be loading a URL from the first record in a browser page and make the tag content available to that page.

We don't have anything on that yet.

There was a related [use-case discussion](https://github.com/w3c/web-nfc/issues/78#issuecomment-205942295) that was giv

[2019-10-28 09:24] #414 closed, assigned to nobody

[2019-10-28 09:25] #309 closed, assigned to nobody

[2019-10-28 09:52] beaufortfrancois opened #418 "Remove NDEFPushOptions timeout"
The NDEFPushOptions `timeout` seems like it could be replaced with a simple timeout and NDEFPushOptions `signal` as you can see below.

Maybe there's more to it, but if not, shall we simply remove it?

[code]
and its equivalent
[code]

[2019-10-28 10:14] beaufortfrancois commented on #331
@zolkis Can you start a spec PR with https://github.com/w3c/web-nfc/issues/331#issuecomment-540402533 changes?

[2019-10-28 10:59] zolkis commented on #331
That's already done in #373 (somehow failed to reference it), except that we might need an algorithm for FQDN (or leave that to the implementation, but further improve spec prose about external type validation).

[2019-10-28 13:11] #387 closed, assigned to nobody

[2019-10-28 14:18] zolkis opened #420 "Spec disagrees with Security section"
The latest spec changes go against some statements in the [Security](https://w3c.github.io/web-nfc/#security-and-privacy) section.
Needs a complete overhaul, especially [Security policies](https://w3c.github.io/web-nfc/#security-policies), especially [storing site URL in record id](https://w3c.github.io/web-nfc/#store-site-url-as-record-identifier-when-writing-data).

[2019-10-28 14:20] zolkis commented on #420
We could also move the Security section to the end and at that, move out IDL index and Acknowledgement from under the previous section (alignment mismatch, see Table of Contents).

[2019-10-28 14:27] zolkis commented on #418
I agree.

[2019-10-28 14:27] beaufortfrancois commented on #387
@kenchris Hopefully https://github.com/w3c/web-nfc/pull/415 and https://github.com/w3c/web-nfc/pull/419 capture your feedback. Let me know if not and we can adjust.

[2019-10-29 08:44] beaufortfrancois opened #421 "Parse unknown records to mime records?"
Do we intend to parse "unknown" records to "mime" records or is this a typo?

![image](https://user-images.githubusercontent.com/634478/67750845-4b499b00-fa30-11e9-89c0-b329bb879fd5.png)

[2019-10-29 10:28] zolkis commented on #421
This was relevant when we treated unknown records as `application/octet-stream`, but that has recently changed :).

So I guess it belongs to the cleanup after the change.

[2019-10-29 10:40] beaufortfrancois commented on #421
Do you confirm that the record's recordType should be "unknown" now?
I'm happy to open a PR to fix it.

[2019-10-29 10:45] zolkis commented on #421
Right, `recordType` should be `"unknown"` and `mediaType` should be `undefined`.
Thanks for noticing.

[2019-10-29 10:56] beaufortfrancois opened #424 "Remove NDEFPushOptions ignoreRead"
It seems like the NDEFPushOptions `ignoreRead` could easily be replaced with NOT listening to the `onreading` event as you can see below.

If that's the case, shall we simply remove it?

[code]
and its equivalent
[code]

[2019-10-29 12:00] #421 closed, assigned to nobody

[2019-10-29 12:01] zolkis commented on #424
Makes sense to me.

[2019-10-30 05:45] beaufortfrancois opened #425 "push and scan should be gated by user activation"
It looks like we're going with permission prompt. Therefore we should update spec to make sure `NDEFReader.scan` and `NDEFWriter.push `are gated by user activation.

@zolkis I think https://github.com/w3c/web-nfc/compare/gh-pages...beaufortfrancois:user-activation is not enough.  There's already some permission and user prompts section at https://w3c.github.io/web-nfc/#permissions-and-user-prompts

[2019-10-30 06:45] zolkis commented on #425
So this is a more specific formulation of #368?
Since the [HTML user activation PR](https://github.com/whatwg/html/pull/3851/files) has not landed yet, there is uncertainty what prose to use.
Should we encapsulate this anyway under "obtaining permission"?

BTW the whole security section needs some love, see #420

[2019-10-30 06:59] beaufortfrancois commented on #425
I think @mustaqahmed would know.

[2019-10-30 13:57] kenchris commented on #424
The feedback we got from users is that the reading and writing code often lives in very different part of the application, like even in my shopping demo, the writer is inside a dialog and the reader is part of the list view.

[2019-10-30 18:34] kenchris commented on #418
I already have been suggestion that earlier, so yeah, lgtm

[2019-10-30 18:34] kenchris commented on #410
Guess we can close?

[2019-10-30 18:35] kenchris commented on #409
Can we close?

[2019-10-31 00:32] #410 closed, assigned to nobody

[2019-10-31 00:32] #409 closed, assigned to nobody

[2019-10-31 06:50] beaufortfrancois commented on #418
I'll update spec then.

[2019-10-31 10:45] kenchris opened #429 "User feedback: PWA integration"
When tapping a NFC tag which has URL record in order to launch the site/app, then it would be nice that a second tap isn't needed

not running PWA (launch):

running PWA (should gain focus, if not focused):

[2019-10-31 10:56] zolkis commented on #429
How can we connect the previous scan with the current use in a secure way?

[2019-10-31 11:01] kenchris commented on #429
I am not sure how to accomplish this on Android, but I definitely understand the use-case. This probably requires some special handling code in the Web APK parts

[2019-10-31 11:02] zolkis commented on #429
Let's do a time sequence:
1. user taps tag with URL record (first record)
2. system service handles intent, and opens browser with the URL.
At this point Web NFC implementation is likely not running yet.
3. PWA comes to senses, Web NFC implementation, too, and want to be fed with the "parent" tag's data.

So there must be a separate service running that can identify and match the PWA with the "par

[2019-10-31 12:17] #418 closed, assigned to beaufortfrancois

[2019-10-31 13:31] beaufortfrancois commented on #429
Is this related to https://github.com/w3c/web-nfc/issues/78#issuecomment-546827632?

[2019-10-31 13:33] kenchris commented on #429
Yes that would be related

[2019-10-31 13:54] zolkis commented on #429
OK, so we have 2 problems:
- how to expose a tag read in the past but which is connected to this page by bootstrapping it
- how to implement this under the hood.

About exposing, I don't like the idea of an event that would represent a reading that happened before the event listener was instantiated. In addition, we are introducing a new interaction model with NDEF, using events: we should either

[2019-10-31 15:51] mustaqahmed commented on #425
Yes, "should be gated by user activation" is the right solution, addresses the concerns I had with #368.

Re fixing this spec issue: if the plan is to fix this before the user activation PR lands (hopefully in a few weeks), please use "triggered by user activation" for now and cc me in a new issue to rephrase it.  Or you can wait.

IFAIK Chrome's permission dialog is gated by user activation, at l

[2019-10-31 19:20] jyasskin commented on #425
https://github.com/w3c/permissions/pull/107 has resistance from Firefox folks to the idea of requiring user activation. https://github.com/w3c/permissions/issues/194 is also related.

[2019-11-01 11:24] kenchris commented on #429
The whole launching a url is NDEF specific, so I guess that is fine :)

[2019-11-04 08:26] kenchris commented on #429
From @zolkis:

I don't think this is a big risk here.

* You cannot install anything from NDEF via out API
* Data is inert, so if you want to instantiated/evaluate WASM/JS from a tag, then the website will have to consider the security implications and as such probably make sure the data is signed (a record exists for that)

[2019-11-04 08:29] #354 closed, assigned to nobody

[2019-11-04 08:56] zolkis commented on #429
What we need to ensure is the connection between the tag+URL and the NDEF data exposed to a site. For instance, in the following scenario,
- page 1 uses Web NFC, has a reader set up
- a tag containing a bootstrap URL comes in range
- a new page 2 is launched by the browser from the tag, exposing the tag data to it
- but site 1 will also get the data since it has a reader set up.

Only page 2 shoul

[2019-11-04 14:32] #425 closed, assigned to nobody

[2019-11-04 14:34] beaufortfrancois commented on #425
@mustaqahmed We went for "triggered by user activation" for now. I'll open a new issue that I'll assign to you to rephrase it when user activation PR lands.

[2019-11-04 14:36] beaufortfrancois opened #431 "Rephrase "triggered by user activation""
As discussed in https://github.com/w3c/web-nfc/issues/425, @mustaqahmed agreed to rephrased the "triggered by user activation" text in `scan` and `push` once user activation PR lands.

[2019-11-04 15:52] beaufortfrancois commented on #315
@kenchris Can you share how hard that would be?

I believe web developers would naively assume something like this shoud work.
[code]

[2019-11-04 16:57] zolkis commented on #315
That should indeed work and fulfills the use case in my view as well.

However, I didn't fully understand whether does Kenneth want to tell the implementation to make optimizations for updating if possible (instead of separate read/write cycle), or whether he just wanted a syntactic sugar for the whole read/write cycle. At least in Android, I don't think a full vertical read/write buffer optimizat

[2019-11-05 07:11] beaufortfrancois commented on #368
With https://github.com/w3c/web-nfc/issues/425 addressed, we can now close this issue.

[2019-11-05 07:11] #368 closed, assigned to nobody

[2019-11-05 07:40] beaufortfrancois commented on #279
For info, I have a PR at https://github.com/w3c/web-nfc/pull/432 that attempts to fix this.

[2019-11-05 07:51] beaufortfrancois commented on #420
@zolkis Can you tackle this?

[2019-11-05 09:32] zolkis commented on #420
Yes, it's under work, with security people.

[2019-11-05 09:32] #279 closed, assigned to nobody

[2019-11-05 10:31] FluorescentHallucinogen opened #434 "What is the correct way to check whether the browser supports Web NFC API or not?"
What is the correct way to check whether the browser supports Web NFC API or not?

In the previous version of API, I've used the following:

[code]

Is

[code]

the correct way?

It would also really nice to have a property (or something) to check whether the device has NFC chip or not.

[2019-11-05 10:36] FluorescentHallucinogen commented on #434
Are there NFC chips that support only reading, but not writing NFC tags? If yes, how to detect this?

[2019-11-05 10:37] beaufortfrancois commented on #434
Indeed!
[code]
You can also use Permissions API
[code]

[2019-11-05 10:38] beaufortfrancois commented on #434
To check whether the device has NFC chip or not, you can call `scan()` or `push()`and it will reject with an appropriate error if that's the case.

[2019-11-05 10:38] beaufortfrancois commented on #434
I don't think so.

[2019-11-05 10:39] FluorescentHallucinogen commented on #434
@beaufortfrancois What about adding this to the spec?

[2019-11-05 10:40] beaufortfrancois commented on #434
Which parts?

Good luck for your [talk](https://twitter.com/GDGNsk/status/1187389660462485505) by the way ;)

[2019-11-05 10:46] FluorescentHallucinogen commented on #434
@beaufortfrancois

Thanks! This is workshop, not talk. :)

About browser feature detection: https://github.com/w3c/web-nfc/issues/434#issuecomment-549765910.

[2019-11-05 10:49] beaufortfrancois commented on #434
I'll do this.
Feel free to file more issues as you play with Web NFC.
Note that current Chromium implementation doesn't show prompts yet, but will really soon.

[2019-11-05 10:51] FluorescentHallucinogen commented on #434
I [know](https://chromium.googlesource.com/chromium/src.git/+/51f9ee3727aefb076947fe6ab58154f479bc30d3). :) Thanks!

[2019-11-05 10:53] beaufortfrancois commented on #434
Cool!
You can check WIP at https://chromium-review.googlesource.com/q/hashtag:%22webnfc%22+(status:open%20OR%20status:merged)

[2019-11-05 12:07] FluorescentHallucinogen commented on #434
@beaufortfrancois Just curious, what if I call `navigator.permissions.query({ name: 'nfc'})`, but NFC is disabled in the OS settings? Does your CL cover this use case similar to the following (example for Web Geolocation API)?

![1](https://user-images.githubusercontent.com/7892779/68206457-c9341600-ffdd-11e9-854c-49ca0b3c0955.png)
![2](https://user-images.githubusercontent.com/7892779/68206462-cb

[2019-11-05 12:15] zolkis commented on #315
@kenchris, how to move this forward? or close it?

[2019-11-05 12:24] beaufortfrancois commented on #434
`navigator.permissions.query({ name: 'nfc'})` will resolve with a status of "denied".

[code]

[2019-11-05 12:28] #434 closed, assigned to beaufortfrancois

[2019-11-05 12:29] beaufortfrancois commented on #434
https://w3c.github.io/web-nfc/#feature-support has been added to the spec.

[2019-11-05 12:38] FluorescentHallucinogen commented on #434
@beaufortfrancois

Silently? It would be great to let the user know what went wrong and provide the ability to enable NFC in the OS settings (see screenshots in https://github.com/w3c/web-nfc/issues/434#issuecomment-549795888).

P.S. Sorry for offtopic.

[2019-11-05 12:50] kenchris commented on #315
There are different use-cases.

Sometimes I might want to push data and I will have special UI for that. (Creating a scanner with the side-effect of pushing seems a bit counter intuitive.)

In some cases, I might want to either cancel the push or modify what I push given what is already on the tag.

For instance, I could do a color combiner. Where I add a color. Say I add yellow, but as the card a

[2019-11-05 12:51] beaufortfrancois commented on #434
`navigator.permissions.query` will always be silent.  What we could use is `navigator.permissions.request`, however it is not functional at the moment in Chromium.

Having something similar to Geolocation makes sense to me.
I'll ping appropriate folks. Thanks!

[2019-11-05 15:33] zolkis commented on #315
Do you mean updating a record in a pending push?
Simplest is to cancel and push again. Otherwise there might be a race condition.

[2019-11-06 05:58] leonhsl opened #437 "scan() should validate NDEFScanOptions#{recordType,mediaType}"
For example, `mediaType` should always be `undefined` for record types other than `mime`, otherwise we just throw a TypeError like what we do in constructing an `NDEFRecord`.

[2019-11-06 06:26] beaufortfrancois commented on #437
I understand where this is coming from, but I'm not sure we should throw a TypeError for scan options as this is technically NOT an invalid filter. It's just that scan won't trigger any onreading event.

I'm afraid we'd make it more complicated to cover all cases.
For instance, should we throw a TypeError when NDEFScanOptions `recordType` is set to `FOO`?

I'll let other chime as I don't feel stro

[2019-11-06 06:59] zolkis commented on #437
I agree with this. The scan algorithm is sufficiently tight IMHO.

[2019-11-06 07:11] leonhsl commented on #437
I also prefer simplicity.

Take this scan options `{recordType: 'url', mediaType: 'text/plain'}` as an example, we have 2 choices for matching 'url' records (whose media type is always null):
  1. ignore the careless user input (mediaType) and match all 'url' records.
  2. do strictly, i.e. do not match any 'url' records.

I'd prefer 1 because we are already aware that mediaType does not make any

[2019-11-06 09:25] zolkis commented on #437
What happens now is that properties defined in `option` are passed to the internal slots. No checks here. I guess this is what you'd like to get improved.

Then, when a tag is read, the [Dispathcing NFC content](https://w3c.github.io/web-nfc/#dispatching-nfc-content) is run, which will first test for `id` equality for _any_ records of the message, then for `recordType` equality over _any_ records

[2019-11-06 09:28] zolkis commented on #437
Another point is that `NDEFScanOptions` is a property bag and does not need to be validated as `NDEFRecord`.

But a clarifying note is possible.

[2019-11-06 12:19] kenchris commented on #315
That would require two taps and it highly confusing for the user. Reading and writing is pretty fast, and for out testing with Alex we always got the read data before writing (which is why ignoreRead was introduced) and as creating the records is super fast, I don't see why this is not possible, unless it is due to the Android APIs. If you are too slow at creating the records and the user removed

[2019-11-06 12:44] kenchris commented on #364
Bluetooth (incl LE) info: https://members.nfc-forum.org/apps/group_public/download.php/18688/NFCForum-AD-BTSSP_1_1.pdf

https://nfc-forum.org/wp-content/uploads/2019/06/NFCForum-AD-BTSSP-1.2.pdf

[2019-11-06 12:54] zolkis commented on #315
If it's a pending push, no taps happened yet. But looks like you are after a different use case.

OK, with this I start to understand what you are after. You want to pass a transformation function to update a tag and you're confident all implementations can do the reading, processing and writing operations during the time of the tap?

[2019-11-06 12:59] kenchris commented on #363
https://nfc-forum.org/purpose-nfc-ndef-signature-records/

https://en.wikipedia.org/wiki/Signature_Record_Type_Definition

[2019-11-06 13:01] kenchris commented on #315
yeah pretty much, that is now it works with most underlying tech support like NFC-A, NFC-B. They will read and write and send commands. So if that is supported I don't see why it wouldn't work for NDEF.

[2019-11-06 13:25] zolkis commented on #363
The trust model Web NFC used to have so far is going to change.
Web NFC message and Web NFC id are already gone, instead signature records are coming in.
Security section will be updated soon.

Sig-records will work with app-level policy enforcement, since they are based on private keys.
It will affect how the NFC content is handled at app level (including automated use cases).
(I don't know how m

[2019-11-06 13:30] zolkis commented on #315
Anyway, if it fails, it will err, and require a second tap for the update, which is not worse from UX point of view.

However, it will clutter/confuse the API if `push()` could take a function or a message from now, with different behavior (algorithm).

[2019-11-06 13:33] kenchris commented on #363
I think it would probably be good to do and can help enterprise adoption. As you said, most work is on the application side, we just need to spec and expose the record type

[2019-11-06 13:34] kenchris commented on #315
It will take a sequence of records or a method taking a sequence of records. It shouldn't change the algorithm a lot

[2019-11-06 14:10] beaufortfrancois opened #438 "obtain reading and push permission should be the same"
I'm not sure why but "[obtain reading permission](https://w3c.github.io/web-nfc/#dfn-obtain-reading-permission)" and "[obtain push permission](https://w3c.github.io/web-nfc/#dfn-obtain-push-permission)" are different. I think both should be the same and consolidated under a unique "obtain nfc permission".

What are your thoughts?

[2019-11-06 14:14] zolkis commented on #438
Isn't pushing more powerful feature than reading?

I think originally the idea was that reading policy could be more relaxed than writing policy.

Especially with signature records, we could apply browser origin policies against the URLs contained in the cert chain and/or the URL record in the message. I guess read and write scenarios could undergo different policies?

[2019-11-06 14:15] riju commented on #438
my 2 cents: NFC read and write should be the same permission at least say Chrome's PoV, maybe we can add a note that implementer is free to have a choice but the first implementer Chrome is going to use same `nfc` permission

[2019-11-06 14:19] zolkis commented on #363
It would be also possible to do implementation-level policies, for instance if the message is signed, browser origin policy could be applied (similarly like we experimented with Web NFC id). This needs some more scrutiny, likely will not happen in this iteration, if at all.

[2019-11-06 14:19] zolkis commented on #420
Related: #363
Also: #438

[2019-11-06 14:55] zolkis commented on #363
We also need to support signing I guess. There are quite many rules in the Sig RTD.
Do we allow sites to create invalid signed messages?
Or do we spec algorithms for properly signing records?
Or a helper API/flag to insert sig record? Based on site origin (https)?

Anyway at least we need an algorithm for creating (and validating?) Sig records.
I wonder could we improve/reuse the [Mapping local ty

[2019-11-07 10:33] kenchris commented on #438
Permission allow to have options along with them no? If so, it can always be extended

For instance Web USB uses the following descriptor:

![image](https://user-images.githubusercontent.com/1101339/68381663-821b6180-0152-11ea-902d-1ad3b4b85d36.png)

We could always add options like "write: true" there if that ever became needed

[2019-11-07 10:56] kenchris commented on #363
I read that there has been some security issue with the first version of sig records, but I don't understand all details.

I do understand that by changing the payload size, you can make a trailing sig record move between being the last record inside am embedded record collection, or just  trailing the embedded record.

For instance
[code]

[2019-11-07 11:02] zolkis commented on #363
But the sig record will still be for the whole message, including the url record and the smart poster.
IoW, after changing the smart poster payload length, the signature check will fail. As expected.

[2019-11-07 11:03] kenchris commented on #363
Yeah, that is what I was wondering how anyone would use that

[2019-11-11 03:06] leonhsl commented on #208
https://github.com/w3c/web-nfc/pull/428/ already removed the timeout from `NDEFPushOptions`.

[2019-11-11 03:14] leonhsl commented on #350
About `An external type name` at https://w3c.github.io/web-nfc/#the-record-type-string,
1. it still says

2. it's confusing that the section for `An external type name` is talking about well-known types.

wkt-type             = (ALPHA / DIGIT) *(ALPHA / DIGIT / other)

[2019-11-15 01:08] joshdillner opened #442 "Can't read empty tags"
Hi, I've been implementing the latest API and testing on Chrome Canary, and I've found that I can't scan empty tags - it never enters the "onreading" or "onerror" event.

I've also found that writing a url record type seems to add 2 records:
Record 0, type = URI record
Record 1, type = w3.org:a

Can you advise? Here's my code:

[code]

[2019-11-18 03:16] leonhsl opened #443 "Problems in '9.10.1 Creating NDEF message'"
https://w3c.github.io/web-nfc/#creating-ndef-message
  1.  lacks descriptions about how to wrap a `DOMString` or `BufferSource` to create an `NDEFMessage`.
  2. 4.3 description is wrong:

  3. It seems to me the spec wants to say `NDEFRecord#id` is null when `NDEFRecordInit#id` is not provided, if so, please change `NDEFRecord` interface definition to reflect it, i.e. add '?' suffix.

[2019-11-18 10:27] beaufortfrancois commented on #442
Is your empty tag NDEF formatted?
If not, this may explain why you don't receive any event.
If so, you should receive an "onreading" event with one "empty" message. See https://chromiumdash.appspot.com/commit/645a24e453cbb8767c7684527c48359b23ecac1f
Make sure you use latest Chrome Canary on Android.

Regarding the second record, this happen because previous version of the Web NFC spec included a "

[2019-11-18 11:51] beaufortfrancois commented on #443
Thank you for raising these issues.
I'll open a PR to address those shortly.

[2019-11-18 13:40] beaufortfrancois commented on #350
@zolkis Can you address latest comment from @leonhsl at https://github.com/w3c/web-nfc/issues/350#issuecomment-552276574?

[2019-11-18 13:41] beaufortfrancois commented on #208
@kenchris Can we close this one?

[2019-11-19 10:36] #443 closed, assigned to beaufortfrancois

[2019-11-20 16:23] zolkis commented on #363
The plan is to support creating and reading NDEF Signature records, but
- Web NFC won't sign any records or messages: applications need to do that
- Web NFC won't check any signatures: applications need to do that
- Key management is out of scope: applications need to do that.

The `data` property will access the raw bytes of the NDEF signature.
However, we could define the structure of a signatur

[2019-11-21 08:17] FluorescentHallucinogen commented on #434
@beaufortfrancois

Just to clarify, will there be a separate permission prompt for writing NFC (alongside permission prompt for reading NFC) or one single permission prompt for the whole Web NFC API (both reading and writing)?

Use case: what if I want to allow the web app to only read NFC tags but not write?

I'm not familiar with the process of merge code in Chromium. I see that the NFC permissi

[2019-11-21 08:20] beaufortfrancois commented on #434
In Chromium, there will be one single permission prompt for using the Web NFC API.

I'm currently working on making sure tests pass for https://chromium-review.googlesource.com/c/chromium/src/+/1895345. Once it's solved, it will be pushed to Chromium. I hope this will be done this week or next week.

[2019-11-21 08:31] FluorescentHallucinogen commented on #434
@beaufortfrancois

Any plans to separate permission prompts for reading and writing?

From the name of https://chromium-review.googlesource.com/c/chromium/src/+/1895345 — `[WebNFC] Add permission prompt for NDEFWriter.push` it's not clear is this for writing only?

What if I try to read NFC tags (if user didn't previously allow Web NFC), will the permission prompt be shown?

[2019-11-21 08:50] beaufortfrancois commented on #434
Nope. Not in Chromium.

Yup. Once user approves Web NFC, prompt won't be shown anymore.

[2019-11-21 14:09] beaufortfrancois commented on #363
Thanks for investigating @zolkis!
Could you provide a JS example of how reading and writing sig records would look like?

[2019-11-21 21:33] zolkis commented on #363
That depends on what crypto library is used by the app. Since we don't know which one will be used, we cannot make a generic API for that, so we need to treat signatures as hex-strings.
Those are needed to construct the (yet unspecified) `NDEFSignatureRecord`.

Creating a signature requires a private key and a hex-string created from all participating record fields to be signed. Based on the secur

[2019-11-22 23:52] leonhsl opened #445 "Keep (how?) or remove the record id?"
This issue comes from the discussion at https://github.com/w3c/web-nfc/pull/444#discussion_r349416140

[2019-11-22 23:57] leonhsl commented on #445
As we've already been making WebNFC kind of a low-level API so it's good to abandon all those 'smartness' left from the old era, like binding record ids with the hostname of the current web page.

+1 to the following suggestion from @beaufortfrancois

const writer = new NDEFWriter();
await writer.push({ records: [{ recordType: 'text', data: 'hi', id: '123' }] });
...
const reader = new NDEFReader(

[2019-11-23 10:07] beaufortfrancois commented on #445
If we all agree on removing constraint on record id, I'll assign the task of updating the spec to myself.

[2019-11-23 10:40] zolkis commented on #438
Fixed by #440

[2019-11-23 10:43] zolkis commented on #420
Fixed by #440

[2019-11-23 10:43] #420 closed, assigned to nobody

[2019-11-25 08:23] beaufortfrancois commented on #445
I've started updating spec at https://github.com/w3c/web-nfc/pull/446

[2019-11-25 08:23] Honry opened #447 "Remove NDEFRecord.[[PayloadData]] internal slot"
As now we have NDEFRecord.data that already handles bytes of payload data, we can directly remove the NDEFRecord.[[PayloadData]] internal slot and use NDEFRecord.data instead.

[2019-11-25 08:25] beaufortfrancois commented on #447
True! Thank you @Honry!
@zolkis Can you update spec?

[2019-11-25 08:26] zolkis commented on #447
As long as the DataView covers the whole payload data, we can do that. IoW, yes.

[2019-11-25 09:07] #445 closed, assigned to beaufortfrancois

[2019-11-25 09:08] beaufortfrancois commented on #445
@leonhsl Let us know if that looks good to you.

[2019-11-26 08:51] beaufortfrancois commented on #442
Please re-open if you're still having issues.

[2019-11-26 08:51] #442 closed, assigned to nobody

[2019-11-26 12:30] #447 closed, assigned to zolkis

[2019-11-26 12:32] zolkis commented on #438
Can we close this?

[2019-11-26 12:33] beaufortfrancois commented on #438
I think so.

[2019-11-26 12:34] zolkis commented on #437
@leonhsl do you expect changes on this?
IMHO the algorithmic steps are sufficiently specified.

[2019-11-26 12:36] zolkis commented on #429
Do we have a proposal how to move on with this?

[2019-11-26 12:37] zolkis commented on #424
Do we go ahead with removing `ignoreRead`?

[2019-11-26 12:40] zolkis commented on #408
Also, we need algo for creating signature records, if we support that (see #363 for challenges).
Then only handover records are missing, should we support creating (and reading) them, too (as data)?

[2019-11-26 12:44] #438 closed, assigned to nobody

[2019-11-26 13:01] zolkis commented on #264
Fixed by #443.
Please check and close if it's the case.

[2019-11-26 17:57] FernandoJAlves opened #452 "Can I use Web-NFC to issue "commands" to NFC tags?"
Hey!

Not sure if this is the best place to ask this, but I couldn't find a forum or slack for this project. Anyway, my scenario is the following: I'm trying to use Web-NFC to communicate with the e-passport (more specifically, implement the Basic Access Control protocol). To do so, the protocol requires the device (in this case, a smartphone) to request a challenge to the NFC chip (in the passpor

[2019-11-26 20:37] zolkis commented on #452
At this time Web NFC does not support ISO 14443 / IsoDep / MIFARE yet, only NDEF.
Sorry for that, it's on the list. See #101 (quite old issue, granted).

[2019-11-27 06:47] leonhsl commented on #437
https://github.com/w3c/web-nfc/issues/437#issuecomment-550222603 reminds me to read [Dispathcing NFC content](https://w3c.github.io/web-nfc/#dispatching-nfc-content) carefully and now I feel the algorithm is incorrect.

Consider we have a scan options `{id: 'dummy-id', recordType: 'url'}`, my understanding (intuitive feeling) is that a message matches only if it contains a `url` record with `dummy

[2019-11-27 07:12] leonhsl opened #453 "Do not use 'any' to define NDEFRecordInit#data"
I remember someone before gave a comment about not using `any` as possible as we can when doing Web IDL design, but I can not point out the exact place now.

Based on that I'd propose changing `NDEFRecordInit#data` from `any` type to
`typedef (DOMString or BufferSource or NDEFMessageInit) NDEFRecordDataSource;`,
which should just be enough. (See https://w3c.github.io/web-nfc/#data-mapping)

@reill

[2019-11-27 07:21] beaufortfrancois commented on #453
That looks good to me. I'll draft a PR.

[2019-11-27 07:30] beaufortfrancois commented on #453
PR is available at https://github.com/w3c/web-nfc/pull/454.
Please have a look.

[2019-11-27 07:40] beaufortfrancois commented on #437
Re-reading "Dispatching NFC content" algorithm below suggests that an NDEF message will matches only if it contains a url record and a record with dummy-id. It may be the same record, but not necessary.

[2019-11-27 07:52] zolkis commented on #437
I understand the same way.

If `[[Id]]` present, must match one of the records `id`, otherwise no match (event never fired), continue with the next reader.
If `[[RecordType]]` present, must match one of the record `recordType`, otherwise no match, continue with the next reader.
If `[[MediaType]]` is given, must match one of the record `mediaType`, otherwise no match, continue with the next reader.

[2019-11-27 07:58] leonhsl commented on #437
The discussing point now is whether the conditions (inside the scan options) should be fulfilled by the same record or they can be scattered across several records. I personally feel the latter option is weird.

[2019-11-27 08:01] zolkis commented on #437
It is the latter.
We might include a reader option to specify the type of matching: all conditions per record, or all conditions per message (default, to match the current behaviour).

[2019-11-27 08:28] #453 closed, assigned to beaufortfrancois

[2019-11-27 08:51] beaufortfrancois commented on #431
Tracking this issue at https://github.com/w3c/web-nfc/pull/449

[2019-11-27 08:51] #431 closed, assigned to nobody

[2019-11-27 08:54] beaufortfrancois commented on #3
@zolkis Shall we close this issue now that obtain permission is defined?

[2019-11-27 08:54] beaufortfrancois commented on #208
(gentle ping)

[2019-11-27 09:19] #208 closed, assigned to nobody

[2019-11-27 11:26] #3 closed, assigned to nobody

[2019-11-27 12:46] beaufortfrancois opened #455 "Implementation status page"
It would be great if this repository would host an implementation status page so that web developers interested in Web NFC could quickly see which features are implemented in various browsers?

See https://github.com/w3c/picture-in-picture/blob/master/implementation-status.md and https://github.com/WebBluetoothCG/web-bluetooth/blob/master/implementation-status.md

@leonhsl Could you list in this i

[2019-11-27 12:46] beaufortfrancois commented on #455
For instance, "peer" NDEFPushTarget is not implemented in Chromium.

[2019-11-27 12:55] beaufortfrancois opened #456 "Write explainer"
As this spec will go through another TAG review, we should have an explainer as described at https://w3ctag.github.io/explainers

@kenchris @zolkis Is that something you can write?

[2019-11-27 13:05] zolkis commented on #456
We get a lot of questions about scope.
It's currently NDEF, but there are a lot of use cases for other tech as well.

Thing is, the scope has changed from the original idea of exposing a web-specific projection of NFC.
Since the scope shifted to low level, we need to re-think the key use cases.
At the moment it's NDEF read and write.

We need to include a plan about adding new features and extendi

[2019-11-27 13:06] kenchris commented on #456
https://github.com/w3ctag/w3ctag.github.io/blob/master/explainers.md

[2019-11-27 13:34] FernandoJAlves commented on #452
Oh, that's unfortunate. I really wanted to create a web-based passport reader (to avoid using physical NFC readers).

I've read the comments on the issue you referred, just want to ask if you have an estimate of when Web-NFC might begin to support the feature I described? (the 'v2' that was mentioned in a few of the comments)

[2019-11-27 13:36] kenchris commented on #452
We need to ship v1 first :-)

Actually the reason who the reader is now called NDEFReader is so that we can create a TagTechReader or similar with the required API for dealing with lower level transport protocols

[2019-11-27 13:37] kenchris commented on #452
Some initial work done here:

https://github.com/w3c/web-nfc/issues/238

[2019-11-27 18:26] reillyeon opened #457 "Answer security and privacy questionaire"
The specification has a "Security and Privacy Considerations" section but filling out this questionnaire is a good exercise to double-check that more potential issues have been considered.

https://www.w3.org/TR/security-privacy-questionnaire/

[2019-11-29 03:15] leonhsl commented on #437
Do we have other opinions here? I still think `(id, recordType, mediaType)` is a property set that's only meaningful as a whole, matching them separately on different records does not make sense to me and Web Devs would be confused about the behavior, but in any case I'd make the impl follow most people's opinions here.

FYI, the impl has always been option 1: the conditions should be fulfilled by

[2019-11-29 07:02] zolkis commented on #437
I am not against modifying the filtering so that if a filter has more than one property, a message is a match only if it contains at least one record that matches all of the filter properties.

Other than that, should we have filter policy options (like to select on of the behaviors above)?
What are typical use cases of multi-property filters?
The current algo permits filters like "give me text re

[2019-11-29 13:59] beaufortfrancois commented on #434
For info, I'm currently adding "second" prompt to Chrome to turn on NFC if needed. See https://chromium-review.googlesource.com/c/chromium/src/+/1940241

![image](https://user-images.githubusercontent.com/634478/69873470-b816b600-12b8-11ea-8da1-d63145c4a7c5.png)

[2019-11-29 22:00] FernandoJAlves commented on #452
Ok, thank you for your quick responses

[2019-12-02 08:21] leonhsl opened #458 "About definition of local type records"
By reading https://w3c.github.io/web-nfc/#dfn-local-type, I think we should make clear that `local type records` supported by our web nfc API are just some TNF-1 (well-known type) records, they have specific meanings to their containing records.

But, https://w3c.github.io/web-nfc/#mapping-local-type-to-ndef says they could be written as TNF-4 records, which I do not think is appropriate. TNF-4 re

[2019-12-02 08:27] leonhsl commented on #458
I mean, simply, if an embedded record's `NDEFRecordInit#recordType` is `abc`, then we should write it as a TNF-1 record, **NOT** a TNF-4 record.

If Web Devs really want this embedded record to be an TNF-4 record, they just need to provide `xyz.com:abc` as `NDEFRecordInit#recordType`.

[2019-12-02 08:36] leonhsl commented on #455
In Chromium:

- Not support any operations on NFC peers, just NFC tags for now.
- Not support reading/writing for several well-known type records.

       1. Smart poster records
       2. Signature records
       3. Handover records
       4. Local type name (acting as embedded records)

- Not support writing embedded records, i.e.  `NDEFRecordInit#data`
 does not accept `NDEFMessageInit` yet.
-

[2019-12-02 08:38] leonhsl commented on #455
I looked through spec and code and got the above list for now. May update later.

[2019-12-02 08:47] zolkis commented on #458
That is right: mapping local type to NDEF is wrong. I will fix it now.

[2019-12-02 08:50] riju commented on #455
Thanks @beaufortfrancois and @leonhsl, I am sure many developers will try  WebNFC and pointing them to a single source of truth is a good idea.

We should definitely list features like (smart posters, signature records, etc ) which we might implement if we feel there's a critical mass of users. It would be too complicated to add "voting" I guess, but we will get the pulse more effectively.

@leonh

[2019-12-02 09:42] zolkis commented on #458
@leonhsl could you please check the commit above?
I had to make other changes, too, for instance icon records were not correctly handled.

[2019-12-02 13:59] beaufortfrancois commented on #437
I'll vote for @leonhsl suggestion to make conditions fulfilled by the same NDEF record.

[2019-12-03 02:27] leonhsl commented on #458
I added several comments in the commit, and I think @beaufortfrancois might also want to take a look there, especially from Web Devs' point of view.

[2019-12-04 03:07] Honry opened #459 "Tag with 'NFC-A' and 'ISO-DEP' technologies but not recognized as ndef-compatible"
I have a tag (see following image read from native nfc app), with 'NFC-A' and 'ISO-DEP' technologies and no NDEF message, which is type of NFC Forum Type 4, per spec https://w3c.github.io/web-nfc/#ndef-compatible-tag-types, my tag should be one of ndef compatible tag types, but which couldn't be read/write from both native nfc app or Chrome, when writing with native nfc app, it throws with "Non-nd

[2019-12-04 05:52] leonhsl commented on #459
By my understanding, this tag should just be ndef compatible because of the `NfcA` technology it carries.

Could anyone help clarify the phenomenon here?

[2019-12-04 06:27] kenchris commented on #459
Is is formatted as ndef?

[2019-12-04 06:28] Honry commented on #459
No, it could not be formatted as ndef.

[2019-12-04 09:55] zolkis commented on #459
AFAIK they MAY also expose NDEF, but not required to do so.

[2019-12-04 12:10] Honry commented on #459
So a tag is of NFC Forum Type 4 may be NDEF compatible, but a tag without NDEF technology (e.g. my tag with only "NFC-A" and "ISO-DEP" technologies) must be NDEF non-compatible, right?

[2019-12-11 08:05] #396 closed, assigned to nobody

[2019-12-11 08:05] #458 closed, assigned to nobody

[2019-12-11 10:28] beaufortfrancois commented on #350
@zolkis (gentle ping)

[2019-12-11 10:30] beaufortfrancois commented on #331
@zolkis What's left there?

[2019-12-11 10:31] beaufortfrancois commented on #277
@zolkis Can we close it or is this issue still valid?

[2019-12-11 10:33] beaufortfrancois commented on #264
@kenchris Can you check if this issue is addressed by #443 as suggested by @zolkis?

[2019-12-11 10:39] kenchris commented on #264
As far as I can tell, this is no longer an issue

[2019-12-11 10:39] #264 closed, assigned to nobody

[2019-12-11 13:43] zolkis commented on #350
Since now we have a validation for external types in
https://w3c.github.io/web-nfc/#validating-external-type ,
We could move the ABNF's form the informative section above to the algorithm, or remove it (if the algorithm is enough).
WKT doesn't really need an ABNF and I'd remove it.

[2019-12-11 13:44] kenchris commented on #350
It might be useful for people reading the spec though but it could be non nominative

[2019-12-11 13:52] zolkis commented on #331
From my part the validate external/local types algorithms address this (to be checked), but we need to fix #350 that is related.

[2019-12-11 13:56] zolkis commented on #277
As to the opening comment, I think the algorithms do deal with bogus input (since they react only on valid values and throw otherwise). But it would be good to have a second look at it, maybe @leonhsl could you check the "create" algorithms and close the issue if it's the case?

[2019-12-12 02:09] leonhsl commented on #277
https://w3c.github.io/web-nfc/#creating-ndef-message is verifying various user input, in this respect I think we can close this one.

[2019-12-12 07:25] Honry opened #462 "NDEFRecord.data should return null rather than undefined"
In following algorithms,

9.11.9.8 Parsing NDEF external type records
9.11.9.9 Parsing NDEF unknown type records

Spec says:

Set record's data to buffer.

But per discussion in https://github.com/w3c/web-nfc/pull/441,  `null` is a more correct falsey value than `undefined` for an interface type.

Besides, setter of record's data is missing in empty record type's parser algorithm.

[2019-12-12 07:32] beaufortfrancois commented on #462
Thanks @Honry for raising this issue!
I'll open a PR to fix this soon.

[2019-12-12 07:33] #277 closed, assigned to nobody

[2019-12-12 07:37] beaufortfrancois commented on #462
I've just opened https://github.com/w3c/web-nfc/pull/463

[2019-12-12 08:26] Honry opened #465 "Is an empty record type's id null or empty string?"
Per 9.11.9.1 Parsing records from bytes:

It should be empty string.

But spec says

@beaufortfrancois would prefer null instead of empty string.

@zolkis, @kenchris, what's your opinion?

[2019-12-12 08:43] zolkis commented on #465
Repeating here as well, when an NDEF field is not present, I would map it to `undefined`, or if that is not desired/possible, then `null`.

[2019-12-12 09:48] beaufortfrancois commented on #350
What are the next steps?

[2019-12-12 11:21] beaufortfrancois commented on #358
I'll close as Chrome 79 is rolling out.
Please re-open if you still have some issues

[2019-12-12 11:21] #358 closed, assigned to nobody

[2019-12-12 11:32] zolkis commented on #350
I will attempt a PR :)

[2019-12-12 12:35] #462 closed, assigned to beaufortfrancois

[2019-12-13 09:26] beaufortfrancois commented on #437
@kenchris (gentle ping)

[2019-12-13 09:37] kenchris commented on #437
I totally agree, they should be for the same record, otherwise there is not much sense in adding a filter.

Maybe it should make the filter more explicit and allow multiple?

[code]

It also matches Web Bluetooth more

Maybe even

[code]

and then actually do filtering instead of just looking for presence - it is what I expect that users really want

[2019-12-13 11:12] zolkis opened #470 "Simplify creating external records"
Following the discussion [here](https://github.com/w3c/web-nfc/pull/467#discussion_r357220894).

@beaufortfrancois:

I would argue web developers should always set the full external type record. Think about staging environments, where `staging.example.com:smart-poster` would be written automatically if `:smart-poster` were to be allowed. It would not match when read in a prod environment.

So the

[2019-12-13 11:16] zolkis commented on #437
Specifying multiple Readers would end up being the same thing (OR'ing filters), and it's arguably a simpler design. It also simpler for clients, since they don't have to look which of the complex filter was satisfied. With simple filters per Reader that's a given.
So it depends on the expected usage patterns.

[2019-12-13 11:37] beaufortfrancois commented on #456
Fixed with https://github.com/w3c/web-nfc/pull/469

[2019-12-13 11:37] #456 closed, assigned to kenchris

[2019-12-13 13:37] kenchris commented on #470
You might need to use this instead https://url.spec.whatwg.org/#host-parsing

[2019-12-13 13:40] kenchris commented on #470
Just doing this on the remaining string should probably be fine:

![image](https://user-images.githubusercontent.com/1101339/70804338-815f9600-1db6-11ea-9ec4-b68b642edfa3.png)

[2019-12-16 05:27] leonhsl commented on #350
Some problems in 9.11.1 Creating NDEF record https://w3c.github.io/web-nfc/#creating-ndef-record:
  - Step 4, several standardized record types are missing.
  - Step 5, the following description is wrong. The created NDEF message is supposed to be used as the current record's payload.

  - Step 6 seems to be copied from Step 5, not sure whether it wants to address local type record or Sp record, a

[2019-12-16 05:42] leonhsl commented on #350
About https://w3c.github.io/web-nfc/#validating-external-type,

  - it does not seem to be validating the following rule for external types, so I want to confirm whether the following rule is already stale?

A DOMString representing a custom type for the external type record. The type must follow the external type name ABNF.
ext-type             = reg-name ":" custom-type
custom-type          = 1*

[2019-12-16 07:35] beaufortfrancois commented on #457
Fixed with https://github.com/w3c/web-nfc/pull/471

[2019-12-16 07:35] #457 closed, assigned to zolkis

[2019-12-16 07:36] zolkis commented on #350
See #474 for some related changes. It needs opinions @leonhsl  (I made a few comments on my own). Then, does that ABNF definition help you, or should we remove it?

Step 4, several standardized record types are missing.

The PR does not add missing type creations yet, that will come in another PR, but only for "smart-poster", since "absolute-url", "signature" and "handover" will not be included in

[2019-12-16 07:39] zolkis opened #475 "Fix embedded message creation steps"
@leonhsl [observed](https://github.com/w3c/web-nfc/issues/350#issuecomment-565910985) the following:

[2019-12-16 12:26] beaufortfrancois commented on #347
As we don't use pattern matching of URLs anymore, I think* we can close this issue.
@kenchris to confirm.

[2019-12-16 12:28] beaufortfrancois commented on #2
@zolkis With our new [Web NFC Security and Privacy Considerations](https://w3c.github.io/web-nfc/#security-and-privacy) and [Web NFC Security and Privacy Questionnaire](https://github.com/w3c/web-nfc/blob/gh-pages/security-privacy-questionnaire.md), can we now close this issue?

[2019-12-16 12:42] beaufortfrancois commented on #375
@kenchris @zolkis Shall we add a note saying that Web NFC does NOT support local type names such as "empty", "text", "url", "smart-poster", "mime", "absolute-url", "unknown" to make it clear there's an actual restriction?

[2019-12-16 12:43] #347 closed, assigned to nobody

[2019-12-16 12:43] beaufortfrancois commented on #375
For info, the spec already says "a local type name value MUST NOT be equal to any other record types defined in this API."

![image](https://user-images.githubusercontent.com/634478/70907793-0db5c700-200a-11ea-8f38-d057bea16d98.png)

[2019-12-16 12:45] kenchris commented on #375
This is the reason why I originally suggested that local names could start with : - like external names, they are kind of prefixed. (basically just leave out the domain part)

We might still read records with local types names equal to say "text" - who knows what exists out there

[2019-12-16 12:58] #2 closed, assigned to nobody

[2019-12-16 13:03] zolkis commented on #375
I think we don't need artificial constraints here, and starting exactly with `:` would overlap badly with external records (not long ago there was an idea that the implementation could generate the domain part and apps only specify `:<ext-type-name>`.

The algorithms will first check on the record types in our spec, so there will be a match (causing an error later, potentially).
Then, if no standa

[2019-12-16 13:07] beaufortfrancois commented on #375
If we don't introduce a new constraint, shall we move the "a local type name value MUST NOT be equal to any other record types defined in this API." in the ["validating local type" algorithm](https://w3c.github.io/web-nfc/#validating-local-type) then?

[2019-12-16 13:14] zolkis commented on #375
That would definitely be my preference, too.

[2019-12-16 13:15] zolkis commented on #375
Actually the constraint in NDEF specs is that a local type name should not conflict in the given context. That doesn't necessarily mean it cannot be any of the standard names.
But it's good to make that statement, hopefully helping avoid very confusing situations.

[2019-12-16 13:51] zolkis opened #476 "Writing in which encoding"
@kenchris wonders [here](https://github.com/w3c/web-nfc/pull/474/files#r358135179) whether

[2019-12-16 13:56] #470 closed, assigned to nobody

[2019-12-17 12:18] zolkis commented on #350
@sleevi, the sections related to this issue have been rewritten.
I wonder could you please take another look and check if we can close this.

Now we have [validation steps](https://w3c.github.io/web-nfc/#validating-external-type) for external type, including its domain part.

[2019-12-17 12:20] zolkis commented on #331
I think this has been fixed by #474 (and #477).
@leonhsl could you please check if we can close this?

[2019-12-17 12:59] zolkis commented on #351
@Honry please check if this can be closed. If not, assign me.

[2019-12-17 23:02] dbaron opened #478 "NDEFReader.scan should say when it resolves and returns the promise p"
So reading through the examples in [the explainer](https://github.com/w3c/web-nfc/blob/gh-pages/EXPLAINER.md), one thing I wondered was that it seems a little odd to do the asynchronous `await reader.scan()` and *then* set the `reader.onreading` property to an event handler.  It made me wonder whether the `reading` events could happen *during* the `reader.scan()` call.  So I decided to look at the

[2019-12-18 03:02] leonhsl commented on #331
Cool, the algorithms for validating external/local type names look pretty neat now. Thanks @zolkis !

[2019-12-18 03:02] #331 closed, assigned to zolkis

[2019-12-18 03:22] Honry opened #479 "Filters from multiple readers should be independent"
Quote [comment](https://github.com/w3c/web-nfc/issues/351#issuecomment-536523664) from @kenchris:

[2019-12-18 03:23] Honry commented on #351
@zolkis, yes, this could be closed now. And I just create new one for filters from multiple readers at https://github.com/w3c/web-nfc/issues/479.

[2019-12-18 03:23] #351 closed, assigned to zolkis

[2019-12-18 08:45] zolkis commented on #331
And thanks @kenchris for the comments/help/tips/work on the external type validation.

[2019-12-18 09:04] beaufortfrancois commented on #478
Thanks for raising this issue @dbaron!
I've fixed spec at https://github.com/w3c/web-nfc/pull/480

Regarding the `onreading` event listener added **after** `await reader.scan()`, we thought it makes sample code easier to read as resolved promise means both that access was granted and NFC is enabled.

[2019-12-18 09:58] beaufortfrancois commented on #434
@FluorescentHallucinogen All bits have finally [landed](https://chromiumdash.appspot.com/commits?user=beaufort.francois%40gmail.com&platform=Android) in Chrome Canary for Android. You can give it a try at https://permission.site

<img src="https://user-images.githubusercontent.com/634478/71075694-d0c20f80-2184-11ea-8911-d8e13bedebe2.png" width="24%"> <img src="https://user-images.githubusercontent

[2019-12-18 10:33] beaufortfrancois commented on #424
@kenchris Which changes would be required for your shopping demo for instance to handle this? Would this be that hard?

I'm trying to understand whether `ignoreRead` is convenient thing like we used to have with `toJSON`, etc. or if that's something web developers can't work without (or at least will have trouble with).

[2019-12-18 10:51] kenchris commented on #424
I find it annoying if not there. It will force me to handle all NFC in one place so basically create a singleton service.

The cost of having it is quite small

[2019-12-18 11:04] beaufortfrancois commented on #375
@zolkis If a NDEF Record with local type "text" were to be discovered by the platform, how would it be translated for web developers in Web NFC?

[code]

[2019-12-18 11:59] zolkis commented on #375
If there is an external type TNF=4 record that contains other records, and one sub-record has record type `"text"` with TNF=1, then it is a WKT text record. It cannot be local type since it's already a text record.
One could not possibly write `"text"` with TNF=1 as local type either, since it's the definition of a text record.

In the example, one could use non-conflicting names for local type, e

[2019-12-18 12:04] beaufortfrancois commented on #375
I thought it was possible to write "text" with TNF=1 as local type as a text record is "T", not "text".

[2019-12-18 12:04] zolkis commented on #375
Now since actually it's not `"text"` but `T` that is stored in the record, `"text"` could be a valid local type on NFC level. The constraint is added by Web NFC.
We could possibly use `"T"` instead of `"text"` to denote text records in the Web NFC API, then someone would be able to use `"text"` as local type.

If we introduce any prefix for local types, it will conflict with another possible local

[2019-12-18 12:04] zolkis commented on #375
(cross-posting with @beaufortfrancois it seems)

[2019-12-18 12:07] beaufortfrancois commented on #375
Does that mean existing NFC tags with "text" local type records (not TEXT records) in an external type record will be wrongly recognized?

[2019-12-18 12:08] zolkis commented on #375
Yes (but the local type, not the external type would be wrongly recognized). The implementation would know it, but currently it has no way to tell that to the app.
So we need either a flag or use `"T"` for text instead of `"text"`.

[2019-12-18 12:12] FluorescentHallucinogen commented on #434
@beaufortfrancois That's awesome! Thanks for your work!

One detail: what about changing the word "phone" in texts to more generic "device"? What if my device is e.g. tablet, not phone?

[2019-12-18 12:18] beaufortfrancois commented on #375
I'm not a huge fan of this flag but that seems to be the only option we'd have if we want to make Web NFC fully compliant with existing tags out there that may have "text" local type records in external records.

[code]

[2019-12-18 12:19] zolkis commented on #375
There is another way, just use the NFC Forum WKT definitions: `T`, `U`, `Sp`, etc.
Since it's a low-level API now, that should be fine.

[2019-12-18 12:24] beaufortfrancois commented on #434
@FluorescentHallucinogen I'll share this feedback with the team. Thanks!

[2019-12-19 18:40] zolkis commented on #437
Just a note, #481 should fix the dispatching algorithm (side discussion here).
However, the scan options could be also validated in the [scan](https://w3c.github.io/web-nfc/#the-scan-method) algorithm (the main issue here) if we can come up with a relatively simple validation rule set.

[2019-12-19 20:57] dbaron commented on #478
This still doesn't seem right, at least based on something that would make the examples work.  Having "resolve p" as step 7 makes it sound like the promise doesn't get resolved until after the browser *stops* trying to detect NFC technology.  I suspect the intent is to resolve the promise after "4.  Add reader to the activated reader objects.", although it's possible that it could be right before

[2019-12-19 21:03] dbaron commented on #478
(I'd also note that (2) and (3) don't really seem like separate steps.  But it also seems like, implicitly, between them, there's something like "wait for this request to ???", so that they could be combined as something like: " If this is the first listener being set up, then make a request to all NFC adapters to listen to NDEF messages.  Wait for this request to ???.  If the request fails, then

[2019-12-19 23:20] dbaron opened #482 "permissions-related example in explainer encourages bad assumptions about browser behavior"
The permissions-related example in [the explainer](https://github.com/w3c/web-nfc/blob/gh-pages/EXPLAINER.md) currently has this code:

[code]

This makes a bunch of assumptions about browser behavior that probably shouldn't be encouraged:  in particular, that all browsers require user activation before being willing to show a permission prompt.  (This particular variation between browsers exists

[2019-12-21 08:55] zolkis commented on #375
We need to make a decision between

1. Use TNF and TYPE fields to identify NDEF records (low-level). Other NFC APIs use this (e.g. using both `tnf` and `type`) with this [mapping](https://w3c.github.io/web-nfc/#data-mapping).

2. Maintain the current mapping between TNF+TYPE to the [recordType](https://zolkis.github.io/web-nfc/#the-record-type-string) string, which is more webapi'sh, but creates a

[2019-12-23 08:03] beaufortfrancois commented on #482
You're right. This is an issue with the Permissions API hinted in the spec at https://w3c.github.io/web-nfc/#obtaining-permission.
Hopefully when https://github.com/w3c/permissions/issues/194 will be fixed, we'll be able to simply mention that user activation is required in the "request-to-use-permission" algorithm.

Note that the permissions-related example in the explainer would also work with a

[2019-12-23 08:31] beaufortfrancois commented on #478
I should have resolved |p| earlier to make it clear indeed. I've opened https://github.com/w3c/web-nfc/pull/483 to fix it.

@zolkis @kenchris I'm not sure what "make a request to all NFC adapters to listen to NDEF messages." means? Is this a concept from the previous spec version? We're already checking if no underlying NFC Adapter, if a connection cannot be established, and if the UA is not allow

[2019-12-23 12:21] beaufortfrancois commented on #455
I've noted "overwrite" was not supported as well in Chromium for now.

[2019-12-23 13:27] beaufortfrancois commented on #375
@zolkis Well summarized!
After giving it more thoughts, I would go with the new boolean `local` flag to tell if a record is of local type to keep some webiness to the API.

[2019-12-23 17:06] zolkis commented on #478
If there are multiple NFC adapters (e.g. a built-in and a USB adapter), they are all used in parallel. There is no API needed to list them or select one. It does not matter which one makes the reading (the closest).

[2019-12-23 19:33] kenchris commented on #375
I agree :-) I had a long argument but vacation kept me from writing anything so far

[2019-12-24 06:28] beaufortfrancois commented on #375
Does this IDL diff look good to you?

[code]

[2019-12-24 07:26] zolkis commented on #375
Yes, it's good for me.

[2019-12-24 07:32] zolkis commented on #478
I agree.

[2019-12-24 07:40] beaufortfrancois commented on #478
@dbaron I believe all your feedback has been addressed. See https://w3c.github.io/web-nfc/#the-scan-method

[2019-12-24 08:56] leonhsl opened #487 "toRecords() should be nullable or not?"
I think `toRecords`() is better to be nullable.
It returning null indicates this `Sp/external` record's payload is just a plain buffer but not an NDEF message at all, and returning an empty sequence indicates the payload is an NDEF message that does not have any record.

Currently the spec https://w3c.github.io/web-nfc/#dfn-parse-records-from-bytes makes `toRecords`() return an empty sequence for

[2019-12-24 09:23] zolkis opened #488 "Inconsistency in handling Id"
@leonhsl observed [here](https://github.com/w3c/web-nfc/pull/481#discussion_r361048495):

[2019-12-24 09:25] #479 closed, assigned to zolkis

[2019-12-24 09:31] zolkis commented on #487
Makes sense to me. Once more it proves that implementation feedback is essential.

[2019-12-24 09:38] beaufortfrancois commented on #487
I'll update spec to make `toRecords` nullable.

[2019-12-24 09:49] zolkis commented on #488
I wonder what was the reason we used `empty string` and not `undefined`?
(same applies to `mediaType`).

[2019-12-24 10:09] #487 closed, assigned to beaufortfrancois

[2019-12-24 10:17] beaufortfrancois commented on #424
Argh! I'm torn ;)

On one hand, like you're saying, the cost of having it is quite small.
On the other hand, I feel like web developers would know how to do deal with this quite easily.
Even in your dialog case, it seems OK:

[code]

[2019-12-24 10:33] kenchris commented on #424
You assume that people deal with reading and writing in the same code and same UI parts, but that is seldom the case... It might even be done by different teams and even libraries in top

What you have above looks like a hack that could easily break if all the code isn't written by the same person

[2019-12-24 10:53] zolkis commented on #424
The use case seems to be that a writer could disable all reads for a given push. That would make `ignoreRead` global. However, we have a conflict between step 7.1 of [push()](https://w3c.github.io/web-nfc/#steps-push) and the [listening algorithm](https://w3c.github.io/web-nfc/#listening-for-content) saying

[2019-12-24 10:54] zolkis commented on #424
BTW while checking this I realized we should check all occurrences of "NFC adapter" through the spec and make sure the parallel operation vs error reporting (for one or more adapters) is consistent.

[2019-12-24 13:18] #465 closed, assigned to beaufortfrancois

[2019-12-24 13:19] beaufortfrancois commented on #465
@Honry We've picked `null`. See https://github.com/w3c/web-nfc/pull/492

[2019-12-24 13:30] beaufortfrancois commented on #375
Can we merge this now that https://github.com/w3c/web-nfc/pull/491 has been merged?

[2019-12-24 13:34] zolkis commented on #375
Yes, we can close. @kenchris your's the honor, thanks for raising the issue and persisting with it :).

[2019-12-24 16:01] #375 closed, assigned to beaufortfrancois

[2019-12-26 20:42] FluorescentHallucinogen commented on #434
@beaufortfrancois Any plans on Origin Trial for Web NFC API?

[2019-12-26 21:23] riju commented on #434
@FluorescentHallucinogen : We are planning for M81, so around end of Jan '20.

[2019-12-27 10:17] zolkis commented on #437
@leonhsl can we close this now?

[2019-12-27 10:18] zolkis commented on #424
See #494 .

[2019-12-27 10:27] zolkis commented on #476
Actually the [mapping URL to NDEF](https://w3c.github.io/web-nfc/#dfn-map-a-url-to-ndef) steps say

So I think we can close this. Reopen if disagree.

[2019-12-27 10:27] #476 closed, assigned to kenchris

[2019-12-27 16:02] #488 closed, assigned to zolkis

[2019-12-27 16:16] zolkis commented on #424
Can we close (with #494 being merged)?

[2019-12-30 04:27] #437 closed, assigned to zolkis

[2019-12-30 06:35] leonhsl opened #497 "NDEFRecordInit#recordType is a required field"
Means `NDEFRecordInit#recordType` is never `undefined`, so step 1 of https://w3c.github.io/web-nfc/#creating-ndef-record should be removed.

[2019-12-30 08:57] zolkis commented on #497
In the same round, fix the comments from [here](https://github.com/w3c/web-nfc/commit/66ea476f72029403814736a7e22be962ad5a8c59).

[2019-12-30 09:38] zolkis commented on #497
@leonhsl PTAL

[2019-12-31 07:16] #497 closed, assigned to zolkis

[2020-01-02 12:04] kenchris opened #501 "Prefixing local records with ":" would be simpler than isLocal"
I don't like isLocal because its optional so easy to get wrong, which is made clear with the last commits "sprinking it" over existing code :)

":" is not a valid first character for local record types, so it is fine.

I think it makes sense because we have local records in namespaced (external records) or standardized records (smart poster). It looks like a namespace where you just didn't explici

[2020-01-02 12:10] kenchris commented on #501
a `recordType: "text"` would thus be a normal T record, and `recordType: ":text"` would be a local record of type "`text"`

[2020-01-02 12:24] beaufortfrancois commented on #501
FYI @kenchris https://github.com/w3c/web-nfc/issues/375#issuecomment-568164890 explains why the prefix idea was not picked.

[2020-01-02 12:32] kenchris commented on #501
`_` and `:` are not allowed as first letter in local types, has to be number or lowercase letter, so you would never run into the above issues

[2020-01-02 12:40] kenchris commented on #424
Let's close this

[2020-01-02 12:40] #424 closed, assigned to beaufortfrancois

[2020-01-02 12:41] kenchris commented on #252
I don't think origin trial should block on this

[2020-01-02 13:31] beaufortfrancois commented on #501
For the exercise, I've updated spec to see how it would look: https://github.com/w3c/web-nfc/pull/502

[2020-01-02 13:35] zolkis opened #503 "Merge mapping local and external type algorithms"
@beaufortfrancois [noted](https://github.com/w3c/web-nfc/pull/495#discussion_r362413177):

[2020-01-02 13:41] zolkis commented on #501
Right, I have overlooked that `:` is illegal starting character for local types.

However, developers might be confused with this new Web NFC specific convention. It is also confusing because `:` is a separator in external types.

On the other hand, in a way it's a logical choice (local is like external, just that instead of the explicit domain-context we have the implicit local context).

I'd pre

[2020-01-02 13:42] beaufortfrancois commented on #350
@sleevi (gentle ping)

[2020-01-02 14:08] beaufortfrancois opened #504 "Add note about Web NFC conventions"
@zolkis [said](https://github.com/w3c/web-nfc/pull/502#pullrequestreview-337667570):

[2020-01-02 14:08] #475 closed, assigned to zolkis

[2020-01-02 14:18] beaufortfrancois commented on #501
https://github.com/w3c/web-nfc/pull/502 has been merged.
https://github.com/w3c/web-nfc/issues/504 has been opened to track which differences we want to highlight about Web NFC vs NFC Forum spec.
@kenchris Please close this issue at your discretion.

[2020-01-02 14:41] beaufortfrancois commented on #504
Shall we include more in this table?

### Differences between NFC Forum and Web NFC

| Record type name | NFC Forum (Type field) | Web NFC (recordType) |
| - | - | - |
Text record | `T` | `text`
URL record | `U` | `url`
Smart poster record | `Sp` | `smart-poster`
Local record (example) | `act` | `:act`
Empty record | | `empty`

[2020-01-02 18:22] zolkis commented on #504
Nice, thanks! We should also add `t` vs `:t` for smart poster local type "type" record, and `s` vs `:s` for local type "size" record. Title could perhaps be "Mapping between NFC Forum standard types and Web NFC type names" or similar?

[2020-01-02 19:07] kenchris commented on #504
This is only mapping of the subset "well known types" and their encoding. NFC has additional types, like absolute url, external etc

[2020-01-02 19:15] zolkis commented on #504
Right, actually we could embed/merge that table with the tables in [Data mapping](https://w3c.github.io/web-nfc/#data-mapping).

[2020-01-02 19:18] sleevi commented on #350
Thanks for adding, and thanks for @beaufortfrancois pinging, as this slipped past due to the holidays (and holiday deadlines :D)

Overall, I think the approach in having an explicit validation step is good, in that it makes it much clearer (and easier to write tests for interop issues).

Is 255 bytes a limit from NFC-RTD? Or is this trying to limit for domain names? If it's trying to limit for dom

[2020-01-03 07:19] beaufortfrancois opened #505 "How to read/parse local types"
The ["parse an NDEF record"](https://w3c.github.io/web-nfc/#dfn-parse-an-ndef-record) algorithm used when reading "sub records" doesn't say explicitly how to deal with local types such as ":act", ":s", etc. It only deals with "T", "U", and "Sp".

@zolkis Is that intentional ?

![image](https://user-images.githubusercontent.com/634478/71711432-4d99ee00-2e01-11ea-879e-c169a87e03bc.png)

This issue w

[2020-01-03 08:00] beaufortfrancois commented on #504
@zolkis I've followed your advice. See https://github.com/w3c/web-nfc/pull/506

[2020-01-03 08:40] zolkis commented on #505
Yes, since those are (NFC Forum standardized) local types to `Sp` and is parsed [here](https://w3c.github.io/web-nfc/#dfn-parse-an-ndef-smart-poster-record) (incomplete algorithm at the moment).

So if `:act` appears at top level, not inside an embedded message, or if that embedded message is not `Sp`, it's invalid type name.

[2020-01-03 08:43] beaufortfrancois commented on #505
Where would be the best place then to mention that a colon needs to be inserted at the beginning of recordType when record is of a local type?

[2020-01-03 08:46] zolkis commented on #505
With the new prefixing convention we have no other way than to complete the [parse Sp](https://w3c.github.io/web-nfc/#dfn-parse-an-ndef-smart-poster-record) algorithm.

[2020-01-03 08:49] beaufortfrancois commented on #505
But this algorithm uses back the "parse an NDEF record" algorithm.

[2020-01-03 08:59] zolkis commented on #505
Right. Completing the "parse Sp" algorithm will also need passing the context to the "parse record from bytes".

Currently "parse Sp" says

Then the app can call `toRecords()` on that record ('s data) which invokes [parse records from bytes](https://w3c.github.io/web-nfc/#dfn-parse-records-from-bytes).

That has been fine when prefixing was not there, but now we need to pass the context to the inv

[2020-01-03 09:10] #504 closed, assigned to nobody

[2020-01-03 09:11] zolkis commented on #408
Algorithms for matching external and local types are in place now. Absolute-URL is missing.
Also, we need to complete the "parse Sp" steps (and modify the "parse record from bytes" on the way).
Filing separate issues to track these.

[2020-01-03 09:12] #408 closed, assigned to nobody

[2020-01-03 09:14] zolkis opened #509 "Add create steps for absolute URL records"
As mentioned in #408 , support for creating absolute URL records is missing.

[2020-01-03 09:16] zolkis commented on #505
This issue also tracks the Sp part mentioned in #408.

[2020-01-03 10:19] zolkis commented on #350
Thanks @sleevi for the helpful insights, almost each of which uncovers bugs in the spec.

It comes from the NDEF spec. Type length field is 8 bits, which limits type field to 255 bytes (octets).
Any encoding must fit in this space. Underlying platforms should take care of truncating or throwing away input longer than this, so this is just a safety step here.

A good observation, and yeah, welcome

[2020-01-03 10:34] zolkis opened #510 "Handling NDEFRecord"
@sleevi notes [here](https://github.com/w3c/web-nfc/issues/350#issuecomment-570312505):

In principle we create [NDEFRecord](https://w3c.github.io/web-nfc/#the-ndefrecord-interface) only when reading and we use [NDEFRecordInit](https://w3c.github.io/web-nfc/#dom-ndefrecordinit) in [push()](https://w3c.github.io/web-nfc/#the-push-method).

However, you are right that clients could just construct an

[2020-01-03 10:36] zolkis commented on #350
Created #510 to track this.

[2020-01-03 10:39] zolkis opened #511 "Fix external type validation algorithm"
As noted [here](https://github.com/w3c/web-nfc/issues/350#issuecomment-570529776)

[2020-01-03 10:40] zolkis commented on #511
Also, as @sleevi notes [here](https://github.com/w3c/web-nfc/issues/350#issuecomment-570312505),

[2020-01-03 10:48] beaufortfrancois commented on #510
For what it's worth, current implementation of Web NFC in Chromium raises a TypeError when NDEFRecord is constructed with invalid arguments.

[code]

[2020-01-03 12:16] beaufortfrancois commented on #509
@zolkis Do you want me to start a PR for this?

[2020-01-03 12:36] zolkis commented on #509
Thanks, that would be very helpful. Meanwhile I will focus on external type validation.

[2020-01-03 14:05] #509 closed, assigned to beaufortfrancois

[2020-01-03 15:18] zolkis commented on #511
@sleevi PTAL

[2020-01-03 16:21] sleevi commented on #511
@zolkis Does it make sense to review in a PR? That makes it easier to add in-line comments, and might save some extra commits :)

Recall that #350 came up because, at the time, there was a relationship between the document domain/origin, the registerable domain, and the NDEFRecord tag, and the issue I was trying to flag (with IPv6 and with URL Standard) was that there exist origins for which canno

[2020-01-03 17:44] zolkis commented on #511
Thanks @sleevi.

@kenchris @beaufortfrancois @leonhsl  please check in the NFC NDEF and RTD specs whether my assumption in the PR that we have to support both literal IPv6 and `dns-name` is warranted. Also, whether checking the address/domain part is OK.

I make a small amend requiring `ASCII string` for input.

[2020-01-06 07:22] beaufortfrancois commented on #511
From what I can read, "NFC Data Exchange Format" spec says

And "Signature Record Type Definition" spec only mentions `dns-name` in M2M Certificate Profile.

[code]

[2020-01-06 09:19] zolkis commented on #511
I've seen that in the NDEF spec, but in the NFC RTD spec (section 3, ABNF), in the `dns-part` clause the ABNF doesn't seem to allow IPv6 addresses.

[2020-01-06 10:32] beaufortfrancois opened #515 "Create graphics for use cases."
As raised by @kenchris in https://github.com/w3c/web-nfc/pull/513, we may want to have graphics to illustrate use cases.

[2020-01-06 11:10] kenchris commented on #363
People can write libraries around this if we just add a "signature" recordType and allow reading/writing raw bytes. It is the bare minimum.

If good solutions come from such libraries or we get extra cycles, then we can always add a toSignature() method and an API to easily deal with this

[2020-01-06 11:16] #501 closed, assigned to nobody

[2020-01-07 13:43] #511 closed, assigned to nobody

[2020-01-07 13:52] zolkis commented on #350
For the context, [this comment](https://github.com/w3c/web-nfc/issues/511#issuecomment-570620933) also belongs here.

To my understanding we can close this issue now.
@beaufortfrancois if you agree, please do that, otherwise keep it open.

[2020-01-08 06:06] #350 closed, assigned to zolkis

[2020-01-08 08:36] leonhsl commented on #511
By what I read from https://github.com/w3c/web-nfc/issues/511#issuecomment-570620933, and given that the latest spec is already checking

I don't think we need to do the following checks

If asciiDomain is failure, return false.
If asciiDomain contains a forbidden host code point or U+005F LOW LINE (_), return false.

but just validating that `domain` is LDH-lable should be OK, because now our `do

[2020-01-08 08:40] leonhsl commented on #511
Also, do we need to validate that a local type should also be an ASCII string? Or we need to change the algorithm in another way to make sure the limit of 255 bytes is correctly guaranteed.

[2020-01-08 08:51] leonhsl opened #521 "NDEFRecordInit#encoding should be only for BufferSource data source"
https://w3c.github.io/web-nfc/#mapping-string-to-ndef needs to be refined.

If the data source is a string, we always get its `utf-8` bytes and write as the payload, i.e. `encoding` is forcibly set to "utf-8".

`NDEFRecordInit#encoding` is only used for WebDevs to declare how the `BufferSource` data is encoded.

[2020-01-08 09:37] beaufortfrancois commented on #521
You're right. I'll fix this.

[2020-01-08 12:52] #521 closed, assigned to beaufortfrancois

[2020-01-09 07:02] Honry opened #523 "Handling pushed msg exceeds tag's size and how is the msg size calculated"
Spec should handles when pushed message exceeds the NFC tag's memory size, and may worth to explain how is the pushed message size calculated or maybe just leave it to implementer with a simple Note.

[2020-01-09 13:08] beaufortfrancois opened #527 "Detecting NFC adapter or NFC user setting preference does not require permission"
According to https://w3c.github.io/web-nfc/#the-scan-method, NFC permission is not required to detect whether an NFC adapter is available, or NFC setting state. This also means user gesture is not required. Shall we move steps 5 & 6 after "obtain permission"?

![image](https://user-images.githubusercontent.com/634478/72070251-6286ed80-32e9-11ea-8b2e-c19ffd194318.png)

[2020-01-09 13:17] beaufortfrancois commented on #527
Same issue happens in push algorithm after https://github.com/w3c/web-nfc/pull/528 is merged

[2020-01-09 13:22] kenchris opened #529 "P2P support"
Android is deprecating SNEP and thus the current peer to peer support

Answer from Android:

The current P2P support is a one time operation - when read, its done, where as HCE (Host Card Emulation) most probably isn't.

It might be possible to implement the existing peer support using HCE, but actually being able to not cancel on read might also be useful and affect API design.

Thus maybe it mak

[2020-01-09 13:41] kenchris commented on #529
https://stackoverflow.com/questions/29122848/ndef-message-with-hce-android

[2020-01-09 13:45] kenchris commented on #529
My friend @justinribeiro has a nice example of how to emulate NDEF tags

https://github.com/justinribeiro/android-hostcardemulation-sample

[2020-01-09 13:56] kenchris commented on #529
HCE is not an NFC Forum thing but can be used for NDEF card emulation:

https://nfc-forum.org/nfc-forum-statement-regarding-host-card-emulation-hce/

It now also makes more sense that the name is so bad (card vs tag in NFC terminology)

[2020-01-09 14:36] kenchris commented on #529
Android supports HCE

* Support for NFC-B (ISO/IEC 14443-4 Type B) technology is optional
* Support for NFC-A (ISO/IEC 14443-3 Type A) technology is mandatory
* Support for NFC-Forum ISO-DEP specification (based on ISO/IEC 14443-4) is mandatory and must be emulated on top of NFC-A.
  * Hence, the emulated tag is a very similar to NFC Forum Type 4, though NFC-B support is optional.
* Process Applic

[2020-01-09 14:42] kenchris commented on #529
I am trying to understand https://developer.apple.com/documentation/corenfc/nfciso7816tag

I guess that is how it can read HCE emulated tags, but it this just the same as reading NFC Forum Type 4 tags or can it read additional tags?

[2020-01-09 14:42] cyberphone commented on #529
There is a bunch of mobile payment systems out there including AliPay which do not build on low level card protocols like EMV (which is security-wise unsuited for the Web).  The systems mentioned are currently stuck with QR both at the Desktop/Web and at the POS terminal.  HCE=EMV.

Apple Pay which implements EMV, does not use it over the Web.

[2020-01-09 15:47] justinribeiro commented on #529
I haven't yet tried to write an example with that on iOS, but based on my reading of the docs it reads to me like that would be specific to Type4. I'm on the road for the next couple of weeks, but I'll have to test that theory when I get back to office.

[2020-01-09 16:03] kenchris commented on #529
@justinribeiro what is the license of your sample ndef emulation code? Maybe we could base our on that if you are willing to relicense to the Chromium Project

[2020-01-10 01:29] justinribeiro commented on #529
We can relicense that sample to the Chromium Project, I'm cool with that @kenchris.

[2020-01-10 03:11] leonhsl commented on #521
Should we throw an error if `NDEFRecordInit#encoding` is neither 'utf-8' nor `undefined` for a DOMString data source?

I feel necessary as I always prefer tight checks, thus users passing 'utf-16' for a DOMString will not get a wrong understanding that the DOMString is successfully encoded as 'utf-16' and written into the nfc tag finally.

The context is https://chromium-review.googlesource.com/c/

[2020-01-10 07:32] leonhsl commented on #505
2 observations relating to local types.

1. https://w3c.github.io/web-nfc/#example-12, "act" is not a valid record type in our WebNFC world, should be ":act".

2. https://w3c.github.io/web-nfc/#dfn-convert-ndefrecord-data-bytes, local type is missing. It should also support `toRecords()`.

[2020-01-10 07:34] #527 closed, assigned to nobody

[2020-01-13 07:28] leonhsl commented on #505
Currently https://w3c.github.io/web-nfc/#dfn-validate-local-type just validates like

but how about the rest of the type name?

I feel we better have the same validation rule as the type part of external type name, but unsure how the nfc forum spec regulates it.

[2020-01-13 07:31] leonhsl commented on #505
And I'd like to put all concerns about local type in this issue, another concern: https://github.com/w3c/web-nfc/issues/511#issuecomment-571946449

[2020-01-13 08:39] zolkis commented on #505
For local types the NFC Forum doesn't ask for more that starting with lowercase char or number.
There is no restriction for the rest. It's left up to the application.

If we see Web NFC a kind of application, we can define some extra rules if we can justify them. We should stay flexible for reading (for interoperability) but we can be stricter on writing, if needed. So far I haven't seen the reaso

[2020-01-13 08:47] leonhsl commented on #505
Happy to know that.

And agree that we read from the nfc tag flexibly (for interoperability), our impl is already in this direction :) by exposing to JS what has been read as is.

[2020-01-17 07:00] anujwebkul commented on #161
@anssiko
I am using chrome version 79.. but still navigator.nfc undefined and I have enabled the webnfc flag as well.

[2020-01-17 07:04] beaufortfrancois commented on #161
@anujwebkul `navigator.nfc` is not a thing anymore in Web NFC. See https://w3c.github.io/web-nfc/#examples for many examples on how to play with Web NFC. Hopefully you'll have fun!

[2020-01-17 07:10] anujwebkul commented on #161
@beaufortfrancois but when I am using reader.scan(); then it gives the below error.
DOMException: WebNFC feature is unavailable.

[2020-01-17 07:19] beaufortfrancois commented on #161
According to https://cs.chromium.org/chromium/src/third_party/blink/renderer/modules/nfc/nfc_proxy.cc?type=cs&sq=package:chromium&g=0&l=201, it looks like NFC support is not available on your device. Which Android device do you have?

[2020-01-17 07:30] riju commented on #161
@anujwebkul : Can you try on [Chrome canary](https://play.google.com/store/apps/details?id=com.chrome.canary&hl=en) and let us know if the issue still persists ?

[2020-01-17 07:46] anujwebkul commented on #161
It's working on [chrome beta](https://play.google.com/store/apps/details?id=com.chrome.beta&hl=en) like a charm, Thanks :)

[2020-01-17 07:55] beaufortfrancois commented on #161
But not Chrome canary?

[2020-01-17 07:57] anujwebkul commented on #161
@beaufortfrancois No.

[2020-01-19 06:27] leonhsl commented on #161
I tried the canary `81.0.4031.0` and `reader.scan()` works well there.

Is there a chance that you forgot to turn on the flag `WebNFC` via `chrome://flags`? @anujwebkul

[2020-01-24 02:37] leonhsl commented on #455
Update to https://github.com/w3c/web-nfc/issues/455#issuecomment-560290421.

Now, in Chromium:

- Not support any operations on NFC peers, just NFC tags for now.
- Not support reading/writing for several well-known type records.

       1. Smart poster records
       2. Signature records
       3. Handover records
       4. Local type name (acting as embedded records)

- Not support calling `NDEFR

[2020-01-24 02:38] leonhsl commented on #455
Update to https://github.com/w3c/web-nfc/issues/455#issuecomment-568460963.

We already added the support for `NDEFWriteOptions#overwrite`.

[2020-01-26 00:56] micolous opened #537 "Security and Privacy: NDEF scope not considered adequately"
Per the [Security and Privacy Questionnaire](https://github.com/w3c/web-nfc/blob/gh-pages/security-privacy-questionnaire.md#23-how-does-this-specification-deal-with-personal-information-or-personally-identifiable-information-or-information-derived-thereof), it argues that the scope is limited because this API only processes NDEF records.

However, as mobile NFC access has been historically highly

[2020-01-27 08:28] zolkis commented on #537
It is not clear what is the threat in the Yubikey case. NDEF fallback is quite often used. The content owner can decide what information to put there.

Related, it is not clear why and in what ways implementations or browser vendors are liable to _anticipate_ how NDEF content is used (by an app, or other apps, I assume).

The "post-it note" metaphor was used for explaining that an NDEF tag can be

[2020-01-28 15:26] peria opened #538 "Definitions of NDEFMessageInit and NDEFRecordInit violates Web IDL spec"
Two IDL dictionaries `NDEFMessageInit` and `NDEFRecordInit` are defined as following;
[code]

This reference cycle does not meet the description "The type of a dictionary member must not include the dictionary it appears on." in [Web IDL spec](https://heycam.github.io/webidl/#idl-dictionaries)

[2020-01-28 15:36] reillyeon commented on #538
I am curious about the reasoning behind the WebIDL specification intentionally banning recursive types. As a workaround we could define `NDEFRecordDataSource` as follows which should only trivially change the code developers need to write when creating embedded records,

[code]

[2020-01-28 15:36] zolkis commented on #538
Right, good catch. How are we supposed to define recursive structures with Web IDL then?
Use interface with 3 constructors instead of dictionary for NDEFRecord?

[2020-01-29 01:57] peria commented on #538
I think this issue is not urgent nor serious while most browsers are working well. :)
And I think it is a practical option to update Web IDL spec not to ban the cyclic references in dictionaries.

[2020-01-29 10:34] richardrobberse commented on #358
@beaufortfrancois @kenchris @leonhsl it seems the new API doesn't work in Chrome 79 either, can you please provide some more details?

Tested it on an Android device by running [this link from what web can do today](https://whatwebcando.today/nfc.html):
- Chrome 79.0.3945.136 - doesn't work
- Chrome Beta 80.0.3987.68 - works
- Chrome Canary 81.0.4041.2 - works

[2020-02-03 13:24] beaufortfrancois commented on #358
"What web can do today" demos uses new `NDEFReader` and `NDEFWriter` interfaces which are only supported in Chrome 80 and onwards. See https://chromiumdash.appspot.com/commit/cde28a21cdcc8118b239c6de48b91a01fffe5e8f

[2020-02-04 02:22] leonhsl commented on #523
I think we need to figure out this from the 2 aspects:
1. Is it necessary to put a limit on the size of the NDEF message pushed via `NDEFWriter#write()`?
2. Is it necessary to put a limit on the size of the NDEF message that can be dispatched to `NDEFReader#onreading`?

The old (current) WebNFC impl in Chromium imposes a limitation of 32K bytes on both conditions above, but does not implement well

[2020-02-04 07:55] zolkis commented on #523
Then the app will get an error.
I don't think the spec _have_ to handle this, maybe nice-to-have, but then impl needs to figure out the characteristics of the tag and the underlying NFC implementation and then do the calculation. It is also difficult to fully test it, especially with automated tests and I am not sure that should fall on implementations. I think this is applications' responsibility

[2020-02-04 08:17] leonhsl commented on #523
Yep this is also what I'm feeling.

So I prefer to remove the 32k bytes limitation from the current Chrome implementation, given that it does not make much sense and the implementation of size calculation is quite buggy.

[2020-02-06 08:46] beaufortfrancois opened #540 "Provide TypeScript Declaration File for Web NFC"
I'm sure TypeScript developers would appreciate if they'd had a `d.ts` file.

For info, https://github.com/takefumi-yoshii/webnfc-media-memo/blob/master/src/types/global.ts  already exists.

[2020-02-11 09:40] Honry opened #541 "Handling NDEF record's PAYLOAD field is not present"
In [Parsing NDEF records](https://w3c.github.io/web-nfc/#parsing-ndef-records), all record types valid following step except the empty record:

But looks like only empty record's payload field is not present, and spec also doesn't allow constructing null data for all record types, so shall we throw error here?

[2020-02-11 12:23] zolkis opened #542 "Creating unknown records"
Creating `unknown` type records is not supported currently, though we have an example for it.
This needs discussion (IIRC we once discussed it and decided not to support creating unknown records since it doesn't really have any use case.). But we need support for reading them.
We need either to support creation or justify non-support.

[2020-02-11 13:40] kenchris opened #543 "YubiKey NDEF analysis"
NDEF can be considered post it notes. Things stored are as good at public information, so if you want to make sure that your content is only readable by certain parties, then make sure it is encrypted.

That brings us to security keys like YubiKey that can expose things over NDEF: https://support.yubico.com/support/solutions/articles/15000006432-understanding-the-ndef-interface-on-nfc-enabled-yubi

[2020-02-11 13:47] kenchris commented on #543
In traditional OTP solutions like RSA SecurID dongles, it is possible for users to have apps open the camera and scan the codes, but it requires the user to bring the camera within the field of view of the dongle - same as with NFC, you would need to place your unlocked phone within reach (5-10 cm, most likely 5cm) of the YubiKey in order to be able to read it.

You might think that that could hap

[2020-02-11 13:57] kenchris commented on #543
The Yubico static passwords and Yubico OTP can be used alone (OTP can even include username). Doesn't require to be second factor.

It is not a safe practice.

In many ways it feels like a physical key, as it can be copied and then abused, but in contrast to physical keys, copying is quite quick if shared to the wrong person/service.

The time restriction of OTP makes that somewhat less of an issu

[2020-02-11 14:01] kenchris commented on #543
![image](https://user-images.githubusercontent.com/1101339/74243053-51157480-4cdf-11ea-98cd-27f3cca7cc0b.png)

https://support.yubico.com/support/solutions/articles/15000014219-yubikey-5-series-technical-manual

[2020-02-11 14:05] kenchris commented on #543
![image](https://user-images.githubusercontent.com/1101339/74243373-eca6e500-4cdf-11ea-8797-c13f5b069ab1.png)

https://www.yubico.com/wp-content/uploads/2015/03/YubiKeyManual_v3.4.pdf

[2020-02-11 14:07] kenchris commented on #543
NDEF programming on NEO:

![image](https://user-images.githubusercontent.com/1101339/74243525-37c0f800-4ce0-11ea-9ab7-d6d060472b7b.png)

https://www.yubico.com/wp-content/uploads/2016/03/YubiKeyPersonalizationToolUserGuideMarch2016.pdf

![image](https://user-images.githubusercontent.com/1101339/74243657-6fc83b00-4ce0-11ea-8651-b2f2aa7a539b.png)

[2020-02-11 14:15] kenchris commented on #543
Another question that might come up: Do we need to worry about WebAuthn+FIDO2.

Short answer: No, it is based on APDU:

https://fidoalliance.org/specs/fido-v2.0-ps-20190130/fido-client-to-authenticator-protocol-v2.0-ps-20190130.html#nfc

[2020-02-12 14:44] jvitor83 commented on #145
@jvdassen or anyone could tell when the need for enable the WebNFC flag would be unnecessary?

[2020-02-12 14:46] beaufortfrancois commented on #145
When Web NFC ships to Chrome stable channel. Maybe this year if the origin trial proves that the shape of the API fits web developers needs.

During the upcoming origin trial, the flag won't be necessary as well. Please, stay tuned for more information regarding this.

[2020-02-13 12:01] zolkis commented on #543
Is there some mitigation we should include in the Security section?
AFAICT the current ones cover it, eventually we can make a Note explaining this specific case, since the wide publicity.

Web NFC would serve Yubikey data to the page, which can choose to share it forward.
IIUC the criticism is that Web NFC doesn't enforce a policy that would prevent that.

Note that the group has investigated an

[2020-02-13 23:37] dbaron commented on #478
So currently the text of step 7 says:

This now seems pretty close, except that items (2) and (3) above should say "and abort these steps" instead of "and return p".

[2020-02-13 23:54] dbaron commented on #543
From the [initial comment](https://github.com/w3c/web-nfc/issues/543#issue-563213694):

I've been looking at the various documentation links on `yubico.com` and I haven't found anything saying this -- where do you see it?  Everything I've read made it sound like the `NDEF` interface is enabled by default but there's advanced configuration that allows switching which of the two programmable slots i

[2020-02-14 11:23] kenchris commented on #543
What was behind an advanced setting was the "static password" feature.

![image](https://user-images.githubusercontent.com/1101339/74526919-bf974400-4f24-11ea-8d8b-c35b1b657127.png)

https://support.yubico.com/support/solutions/articles/15000006432-understanding-the-ndef-interface-on-nfc-enabled-yubikeys

[2020-02-17 08:46] #478 closed, assigned to nobody

[2020-02-17 08:50] beaufortfrancois commented on #478
@dbaron Thanks for raising the issue. I've fixed text.

[2020-02-19 21:56] jtibble commented on #355
I found the Android MIFARE API, [https://developer.android.com/reference/android/nfc/tech/MifareClassic](https://developer.android.com/reference/android/nfc/tech/MifareClassic) , and I'm wondering if this is planned to be added to the Chromium implementation. Scanning MIFARE CLASSIC 1K NFC cards today doesn't yield any data in subsequent event.

[2020-02-20 13:31] jtibble commented on #356
@zolkis and @cyberphone I can say that I want to build a web application where employees of my company can tap their NFC cards on a mobile device running this web app to mark themselves as physically present at a point-in-time. For me, it's much, much easier to use the JS APIs than build a native app, so I want to make sure the web APIs support the MIFARE Classic 1K NFC cards, when the device does

[2020-02-20 13:50] riju commented on #356
Thanks for your interest. Web NFC is going through [Origin Trials](https://developers.chrome.com/origintrials/#/view_trial/236438980436951041) where developers can try out and give us feedback. For details, do check @beaufortfrancois's [article](https://web.dev/nfc/).  We will definitely weigh the pros and cons for this feature request soon.

[2020-02-20 14:19] kenchris commented on #356
The implementation does support NDEF on Mifare Classic and Plus tags, if the tags are configured to use that. We do not support any proprietary Mifare protocols

[2020-02-20 14:34] riju commented on #356
Right @kenchris, just verified the tags we tested on is MIFARE Ultralight and we used Ndef.

[2020-02-20 14:36] kenchris commented on #356
Ultralight is actually an NFC Forum compatible tag - which Classic/Mini and Plus are not.

[2020-02-24 16:57] jtibble commented on #238
I would personally like to see this added to the spec and implemented in Chrome. My use-case is that pre-written cards are provided to my organization that do not conform to the NDEF spec, and my coworkers have written custom hex-parsing logic to extract meaningful data from these cards. I'd like to be able to do the same via the web-nfc API without needing an external USB device or using the nati

[2020-02-28 07:40] taralx commented on #321
FYI you can do this:

[code]

[2020-03-03 16:09] OlivierGre commented on #238
STMicroelectronics sees many benefits and use cases for this low level API giving access to the transceive() function. It would enable many IoT use cases like:

- Setting and configuring an IoT device,
- Setting and reading sensors,
- Personalizing a device before use,
- Developing home automation applications,
- Updating a device’s firmware
- Adding security (passwords, crypto)

[2020-03-05 12:02] beaufortfrancois commented on #145
To get started with Web NFC, I'd recommend having a look at https://web.dev/nfc/

[2020-03-05 12:03] beaufortfrancois commented on #434
To know more about the Origin Trial for Web NFC, I'd recommend having a look at https://web.dev/nfc/

[2020-03-06 08:14] zolkis opened #545 "Smart poster overrides URI records"
The following clause needs to be captured in Web NFC from NFC Forum Smart Poster RTD spec, 3.4. Dependencies

record at the top level (i.e., not nested), the Smart Poster record overrides them. The NDEF
application MUST use only the Smart Poster record.

Since there may be multiple levels, I interpret the more exact meaning is that SP overrides URI records on the same level of embedding (i.e. top

[2020-03-06 08:36] zolkis opened #546 "Check payload size in SP action and size records"
Captured from @Honry's [comment](https://github.com/w3c/web-nfc/pull/536#discussion_r388085521):

[2020-03-06 08:51] zolkis opened #547 "Other records accepted by Web NFC in smart poster"
Captured from the discussion in #536  .
Questions:

1. Should be other records allowed that are not explicitly specified in NFC Forum Smart Poster RTD?
Yes, other records are allowed but applications MAY ignore it.
Web NFC implementation is an application from NFC Forum point of view, so it can define its own policies on what to accept.

2. What other records are allowed?
Consensus:
- MIME records

[2020-03-06 08:54] zolkis commented on #547
In my opinion,
- Absolute URL records have a URL so must not be used in SP.
- Empty records are anyway ignored on reads and seem to have no use case for writing.
- Unknown records don't seem to have a use case at least for creation. Reads could support it.
- External and local types should be OK to accept.

[2020-03-06 09:30] kenchris commented on #547
Just allow it all.. it might not make sense, but no reason to enforce arbitrary restrictions

[2020-03-06 09:35] zolkis commented on #547
OK - except absolute URL.
There MUST be one URL in the SP and that has to be a URI record.
Also, impls MUST remove URI/abs URI records from messages which contains a SP record.

[2020-03-09 16:06] flaki commented on #543
I'm not intimately familiar with the current state of the spec or the NFC driver exposed information, which is why I'm curious: is there a way for the browser (not the website, as that would be a fingerprinting risk) to know what device it is currently communicating with? Something akin to VID/PIDs of USB or similar, that would identify the vendor/device make.

I could imagine that certain impleme

[2020-03-09 16:22] zolkis commented on #543
A blacklisting mechanism could be implemented, akin to Web Bluetooth [blocklist](https://webbluetoothcg.github.io/web-bluetooth/#the-gatt-blocklist).
However, won't be foolproof as the UID's can be false/duplicated on fakes so it can result in DoS attack on certain vendors.

The more useful thing browser implementations could do is indeed to include information in the permission prompt about the t

[2020-03-09 17:15] flaki opened #548 "Security implications of multiple tags in close proximity"
The [Mozilla Standards Position discussion on Web NFC](https://github.com/mozilla/standards-positions/issues/238) has raised the possibility of exploits based on multiple NFC tags in close proximity. Browsing the spec's [threats section](https://w3c.github.io/web-nfc/#threats) I couldn't see these scenarios being explored in depth but it might be worthwhile considering doing so.

One such scenario

[2020-03-09 18:56] zolkis commented on #548
Thanks! We will update the security section with this threat and mitigation.

Usually NFC readers can detect multiple tags, but have to create a separate communication session with each of them. However, the way it's exposed to application may depend on the HW/SW and tag tech. Some of the readers may be able to read multiple tags concurrently but then AFAIK they have to implement (low level) anti-

[2020-03-10 10:19] beaufortfrancois commented on #543
There is a way to identify YubiKeys based on their [historical bytes](https://developer.android.com/reference/android/nfc/tech/IsoDep#getHistoricalBytes())
See my WIP patch at https://chromium-review.googlesource.com/c/chromium/src/+/2078550

[2020-03-11 05:56] Honry opened #549 "Error event handling should specific the error code"
In [NFC reading algorithm](https://w3c.github.io/web-nfc/#dfn-nfc-reading-algorithm):

Spec doesn't explicitly specify the error code when firing 'error' event.

[2020-03-11 06:24] beaufortfrancois commented on #549
I don't think we need the error code in this case as the `error` event is a custom error event, not an DomException error. Please let me know why you think we need one.

[2020-03-11 06:51] Honry commented on #549
ECMAScript error objects (e.g., Error) and DOMException are encouraged to be used in Web standard, see https://w3ctag.github.io/design-principles/#error-types

[2020-03-11 06:59] beaufortfrancois commented on #549
Do you have an example of a Web API that uses an error event with an error object?

[2020-03-11 07:00] Honry commented on #549
Moreover, we may need to handle more errors, e.g. when user denies the permission during nfc reading.

[2020-03-11 07:00] beaufortfrancois commented on #549
I've found https://www.w3.org/TR/generic-sensor/#sensor-onerror

[2020-03-11 07:01] beaufortfrancois commented on #549
See why error event doesn't have error anymore: https://github.com/w3c/web-nfc/issues/391

[2020-03-11 07:08] Honry commented on #549
But per @reillyeon's comment https://github.com/w3c/web-nfc/issues/391#issuecomment-543843645, this is the same situation with Generic Sensor API that we have to handle errors during reading.

[2020-03-11 07:15] beaufortfrancois commented on #549
See discussion at https://github.com/w3c/web-nfc/pull/439#pullrequestreview-313554303

[2020-03-11 07:20] zolkis commented on #549
In the [scan()](https://w3c.github.io/web-nfc/#the-scan-method) algorithm we reject the promise with a DOMException when the NFC adapter is not accessible (many reasons given).

The reading algorithm is invoked by the scan() algorithm and will use a simple error event for any read error. An app doesn't need to know anything else, since the only way to recover is that the user retries the touch, th

[2020-03-11 07:24] Honry commented on #549
@beaufortfrancois, @zolkis, many thanks for your explanation! Now I understand why we don't explicitly specify the error. BTW, shall we handle if user deny permission during nfc reading?

[2020-03-11 07:43] zolkis commented on #549
Obtaining permission is handled by scan(). At the time of reading, the permission is either granted or rejected in the interaction flow. After that, the user should only have the option to either touch a tag or cancel the operation.

Or do you mean that depending on implementation, the permission dialog might be persistent over time during the whole session and a user could deny permission even wh

[2020-03-11 08:01] Honry commented on #549
I was thinking of a scenario from testing perspective, Chrome allows user to deny the permission from "Site Settings" menu, I know it‘s rare that end user happen to do such operation. Just curious if spec need to take care of this scenario. :)

[2020-03-11 08:16] beaufortfrancois commented on #549
I use permissions API to track this changes:

[code]

[2020-03-11 09:12] #505 closed, assigned to nobody

[2020-03-11 09:12] #545 closed, assigned to nobody

[2020-03-11 09:12] #546 closed, assigned to nobody

[2020-03-12 07:59] #549 closed, assigned to nobody

[2020-03-12 18:59] beaufortfrancois opened #550 "Create a list of device IDs we will explicitly block in Web NFC"
We should create a list, similar to the ones in the WebUSB and Web Bluetooth repos, of device IDs we are explicitly blocking. The first ones to be included will be YubiKey devices as raised in https://github.com/w3c/web-nfc/issues/543

Here's the WebUSB blocklist: https://github.com/WICG/webusb/blob/master/blocklist.txt

For info, here's the chromium CL that introduces the blocklist: https://chrom

[2020-03-12 19:03] beaufortfrancois commented on #550
It could look like as something like this

[code]

[2020-03-12 19:36] beaufortfrancois commented on #550
cc @reillyeon

[2020-03-12 20:41] reillyeon commented on #550
We should make sure that the fields being matched are well-defined in terms of the NFC specifications. I'm not sure if "historical bytes" is a term from NFC or the Android API.

[2020-03-18 13:01] OlivierGrenoble opened #551 "NDEF Read triggered when writting an NDEF"
When writting an NDEF with writer.write(), I have noticed that the NFC service is immediately processing the NDEF freshly written.
I have been told  to run scan() and discard the onreading events.

Isn't that a pity that it is not the default behavior? When writing to a tag, one seldom needs the processing by NFC service of the NDEF freshly written. That makes the things harder for someone wanting

[2020-03-18 13:06] beaufortfrancois commented on #551
To be sure I understand this correctly, you're saying that Android NFC service reads content of NDEF tags and starts an "NFC tag read" activity after website has successfully written something to the NFC tag.
In that case, I wonder if the browser should "catch" all NFC tags discovered events and dispatch them appropriately, so that web developers don't have to run `scan()` to catch them manually.

[2020-03-18 13:51] kenchris commented on #551
This is what the ignoreRead was for

[2020-03-18 13:53] kenchris commented on #551
@beaufortfrancois I still had the plan to join the reader/writer to avoid cases like these

[2020-03-18 13:58] beaufortfrancois commented on #551
`ignoreRead` is used with an NDEFReader scan session. I think @OlivierGrenoble is using only NDEFWriter there. In that case, it is not necessarily clear he needs to run NDEFReader scan().

[2020-03-18 14:04] zolkis commented on #551
I would support that, but IIRC wasn't there an argument to keep them separate because they might be handled in completely different code? IIRC you had a use case for that in a web app.

So if we keep them separate, we need a control or a default policy at writer level. Let's see if default policy is enough.

[2020-03-18 15:39] OlivierGrenoble commented on #551
On my side it doesn't work. I have set it to true and I still get the native processing of NDEF when I call the write function.

[2020-03-18 15:44] OlivierGrenoble commented on #551
With the previous WebNFC API I didn't have this problem so I guess that, at that time, ignoreRead was working

[2020-03-18 15:49] OlivierGrenoble commented on #551
Yes.
I start with a Tag containing no NDEF.
I use the write function to write an URI.
The then() function is called indicating that the write was successful.
At the same time, the NFC service processes the URI NDEF and proposes to open Chrome. If I accept, Chrome is opened on the URI that I have written.

A side note: Chrome could be opened directly (it would be the case for most users) but, on my

[2020-03-19 04:44] leonhsl commented on #551
I don't think this relates to `ignoreRead`, which is only for ignoring active WebNFC `scan()` sessions when writing and does not (cannot) affect how Android handles the tag.

[2020-03-19 04:51] leonhsl commented on #551
Did this work for you? I mean can it forbid Android from reading the tag? @OlivierGrenoble

[2020-03-19 06:31] OlivierGrenoble commented on #551
Thanks for this clarification, that 's good to know.

No, for the moment I haven't been able to get it work. I have started a scan() before calling the write function but the difficult point is to know when to abort this scan.  I have done it in the then() function of writer.write() but I still get the native processing.
Based on what you said, I'm now thinking that I should set ignoreRead to fals

[2020-03-19 06:44] beaufortfrancois commented on #551
Saying it again in case it was not clear, I feel like this is the UA responsibility to block/catch "discovered NFC tags events" and dispatch them appropriately.

[2020-03-19 06:45] beaufortfrancois commented on #551
@OlivierGrenoble How would like it work?

[2020-03-19 07:01] leonhsl commented on #551
Yes, starting a `scan` beforehand is not helpful for the scenario, no matter `ignoreRead` is `true` or `false`.

And, by my current understanding, seems Browser has no way to block the native processing of NDEF? I mean, Browser is just one of the clients of Android NFC service, it can get the "discovered NFC tags events" but is not able to block other clients getting them.

[2020-03-19 07:12] beaufortfrancois commented on #551
When reading NDEF tags with Web NFC, the native "Android NFC tag" activity is not launched. This is the root issue from what I understand. Chrome should catch it and dispatch it to the website using Web NFC scan. If not, it should "hold" it.

@OlivierGrenoble Can you share/record a screencast of what's currently happening so that everyone get a good understanding?

[2020-03-19 07:15] OlivierGrenoble commented on #551
I need some time to think about it. Here are some elements:

In my application, I didn't want to have a scan() listening for NFC events all the time because this would take the hand over the native processing of an NFC event. So I'm calling scan() only when the user has clicked on a button to read the tag content.

We can maybe find inspiration from what is done in Android with enableforegrounddis

[2020-03-19 07:43] OlivierGrenoble commented on #551
Here is a screencast (in a zip file).
I have clicked on "Write NFC Tag", then on "Write URI", then I have taped the NFC Tag.
The URI is written successfully. As you can see, I immediately gets a notification to open the URI in Chrome.

[screencast.zip](https://github.com/w3c/web-nfc/files/4353213/screencast.zip)

[2020-03-19 07:58] OlivierGrenoble commented on #551
What I have told here was too simple. I don't think that the web page should receive every NFC events while it is in foreground. I think that it should listen to NFC events only when it is expecting something.

[2020-03-19 13:34] zolkis commented on #551
I have clicked on "Write NFC Tag", then on "Write URI", then I have taped the NFC Tag.
The URI is written successfully. As you can see, I immediately gets a notification to open the URI in Chrome.

Based on the video I would say things work as they are designed to work (*) and also according to your [preference](https://github.com/w3c/web-nfc/issues/551#issuecomment-601024359) to not interfere wit

[2020-03-19 13:40] zolkis commented on #551
However, others may come and say "I specifically want to test written tags by allowing default dispatching of NFC content."

So Web NFC could include another write option to control that policy. The default behaviour could be discussed further.

Now IIUC @kenchris, the intent with `ignoreRead` was actually that behaviour (in which case we need to update the write algorithm and don't need another w

[2020-03-19 15:23] OlivierGrenoble commented on #551
I confirm. I have started a scan, then moved to another Chrome Tab and then taped a tag. The native processing is executed so that's fine.

Yes and I was proposing to make it the default behavior.

This is not easy to do. For the moment I haven't succeed to get a version working reliably.
Here is my code. I had to use ignoreRead=false in order to be sure that the NFC event get hooked by my applica

[2020-03-19 15:34] zolkis commented on #551
@leonhsl,  @kenchris , @beaufortfrancois: any objections against changing the write algorithm to use `ignoreRead` as described above?

[2020-03-19 16:02] kenchris commented on #551
Can you summarize?

[2020-03-19 16:57] zolkis commented on #551
See
https://github.com/w3c/web-nfc/issues/551#issuecomment-601181157
and
https://github.com/w3c/web-nfc/issues/551#issuecomment-601184070

[2020-03-19 17:03] kenchris commented on #551
I dont really follow these comments.

ignoreRead was added because if you want to write to a tag, that tag might have existing content, and you don't want a read event dispatches for that during the write (as data is already read when the nfc tag is powered up)

[2020-03-20 06:18] leonhsl commented on #551
Yep I have the same understanding on `ignoreRead` with the above comment.

[2020-03-20 07:19] OlivierGrenoble commented on #551
Ok.
What is your suggestion about the "write" issue? (When writting an NDEF, it is immediately processed by the NFC service).

[2020-03-20 07:43] kenchris commented on #551
What you are saying is that what you just wrote (not previous content) gets dispatched right after it was written?

That doesn't seem that useful to me. Is this always the case?

So this didn't happen before? I wonder what changed this. Maybe we disconnect from the tag just after and that is why

[2020-03-20 07:57] OlivierGrenoble commented on #551
Yes. I'm sure of that because I have done the test with an "empty" tag.

Yes

I didn't have this issue with the previous API (the one with push())

[2020-03-24 08:42] zolkis commented on #551
If `ignoreRead` controls the first case (suppress reading of existing content _before_ writing),
what should control suppressing reading _after_ writing?
1. `ignoreRead` controls both
2. `ignoreRead` controls the first (as now) and by default we suppress reads right after writes (impl needs to catch and ignore the read intent)
3. we introduce another control option for the second
4. we don't do an

[2020-03-24 08:46] kenchris commented on #551
A read after should only happen if you lost contact with the tag and regained it. Maybe that happens because we call "close()" on the connection and so maybe we should not before the tag is out of reach..

[2020-03-24 09:17] DonnaWuDongxia commented on #551
@OlivierGrenoble thank you for giving the real usage feedback for the WebNFC API. We'd like to hear sound like this.
I did some tests based on your info and understand your request. You want to write the tag only, without a following Activity Chooser showing.
Actually, I saw this notice before on the old version API occasionally and from the code perspection, WebNFC implementation in Chromium can

[2020-03-24 18:23] reillyeon commented on #551
@kenchris's suggestion sounds promising. It it possible that having an active read on the Java side right after the tag is written would suppress the OS default?

[2020-03-25 04:55] leonhsl commented on #551
Right, now WebNFC impl closes the connection to the tag right after we completed all pending read/write operations on this tag.

Maybe we can just leave the connection there until the tag on its own gets out of range, thus WebNFC can hold this tag exclusively to prevent others from accessing it?

[2020-03-25 06:32] OlivierGrenoble commented on #551
I think that it is indeed interesting to investigate when to close the connection.
There are 2 ways to use NFC tags:
- some users will keep their phone on the tag
- some users will put the phone on the tag only when a read or write is necessary
In my opinion, it would be nice to support both. The first one is simpler but it is a bit annoying to be sticked to the tag. The second solution is much mo

[2020-03-25 06:36] OlivierGrenoble commented on #551
Correct. I will try to share my web app today. It is not finished but it can allow every one to play with the write function and see this issue.

[2020-03-25 13:37] OlivierGrenoble commented on #551
Here is my web app: https://www.myst25.com/ST25NFCWebApp/
You can use it to see the problem when writing an NDEF.

NB: This is still under development.

[2020-03-27 09:08] OlivierGrenoble commented on #551
Hello,
How can we progress for the Write issue?

[2020-03-27 12:57] beaufortfrancois commented on #551
Is that something you could prototype so that we can try it out in Chromium?

[2020-03-30 04:23] DonnaWuDongxia commented on #551
Hi @OlivierGrenoble, I made a change to fix this.
https://chromium-review.googlesource.com/c/chromium/src/+/2126470

I tested it on my side and it works. If you need, I can provide you an APK.

[2020-03-30 05:35] beaufortfrancois commented on #551
Thanks @DonnaWuDongxia for proposing this chromium CL.
It seems like your implementation will leave "Android NFC Reader Mode" enabled after at least one successful write/scan Web NFC operation has been called. But shouldn't we at least disable it when tag goes out of range?

[2020-03-30 05:45] #550 closed, assigned to nobody

[2020-03-30 05:46] beaufortfrancois commented on #543
For info, we've added a blocklist to the spec at https://github.com/w3c/web-nfc/issues/550

[2020-03-30 05:47] beaufortfrancois commented on #537
For info, a blocklist containing vulnerable YubiKeys has been added to the spec. See https://github.com/w3c/web-nfc/issues/550 and https://w3c.github.io/web-nfc/#blocklist

[2020-03-30 06:02] OlivierGrenoble commented on #551
Thank you @DonnaWuDongxia for working on this.

The question is indeed to know when to release the hook of NFC events. If you release it while the smartphone is still on the tag, the NFC service will process the NFC event (and we are back to the first problem).

I doubt that you can be notified when the tag gets out of range.

Some thoughts:
We are trying here to find out when to release the NFC h

[2020-03-30 07:26] DonnaWuDongxia commented on #551
@OlivierGrenoble
We use another way to read/write tags with NfcAdapter#enableReaderMode/disableReaderMode, not the Intent filter way. Please refer this and the Android Doc.

https://stackoverflow.com/questions/33633736/whats-the-difference-between-enablereadermode-and-enableforegrounddispatch

 I think this is a more proper way for a runtime, and you can filter tags with WebNFC API.

[2020-03-30 07:46] OlivierGrenoble commented on #551
@DonnaWuDongxia Ok thanks for this important précision.
Back to the question from François, when shall disableReaderMode() be called? If the phone is still on the tag, the NFC service will process the NDEF message.

[2020-03-30 07:52] DonnaWuDongxia commented on #551
@beaufortfrancois @OlivierGrenoble
Disable the ReadMode when the tag is out of range is a good thinking, I'm tring on it.

[2020-03-30 08:15] DonnaWuDongxia commented on #551
@beaufortfrancois @OlivierGrenoble
We have a listener to use,
https://developer.android.google.cn/reference/kotlin/android/nfc/NfcAdapter.OnTagRemovedListener

The situation is that it works but this is relatively a new API(Level 24), do we need to sacrifice the compliance? We are now at min-Level 19.

[2020-03-30 08:38] DonnaWuDongxia commented on #551
@beaufortfrancois
We've got a listener(android.nfc.NfcAdapter.OnTagRemovedListener) to use and it works but with a high level API(Level 24), we are now at min-level 19.  Do we need to sacrifice the compliance? I prefer not.

@OlivierGrenoble
It seems the site https://www.myst25.com/ST25NFCWebApp/ has some issue can't trigger right NFC request, so the system launcher will still show. I use the foll

[2020-03-30 08:48] DonnaWuDongxia opened #555 "confliction in validation for external type"
confliction in validation for external type
https://w3c.github.io/web-nfc/#validating-external-type
In the section:
step 1 conflicts with step 5/6, the question is: do the non- ASCII string is allowed for Domain?

[2020-03-30 08:54] OlivierGrenoble commented on #551
Difficult choice. 58% of the phones are currently using a version >= to API Level 24.

What kind of issue do you see with  https://www.myst25.com/ST25NFCWebApp/ ? Do you see this issue only with the code that you have updated?

[2020-03-30 09:05] zolkis commented on #555
Since `input` must be ASCII, and `domain` is a part of it, it cannot have non-ASCII.
I am not sure steps 5 and 6 are needed at all.

[2020-03-30 09:38] kenchris commented on #551
Did you have a look at how it is implemented (ontagremoved): https://github.com/aosp-mirror/platform_frameworks_base/blob/master/core/java/android/nfc/NfcAdapter.java

Maybe we can polyfill it somehow

[2020-03-30 17:57] reillyeon commented on #551
Unfortunately it looks like `OnTagRemovedListener` is only used for the `ignore()` method (also from API 24) which will cause the tag to be entirely ignored until it is removed. This is behavior I imagine we would want to have a site opt-in to because otherwise it would prevent multiple pushes to the card.

I am okay with there being functionality which is unavailable on older versions of a platfo

[2020-03-31 06:58] DonnaWuDongxia commented on #551
Yes,` OnTagRemovedListener` is only used for the` ignore()`, I misunderstood it before. I don't think a site need to be in a state of ignoring some tag that will prevent multiple operations as @reillyeon mentioned. It seems that Android have no passive notifition for a tag removing. Actively, we can check a tag's state by catching IOException in polling way, that is not suitable for our case.

[2020-03-31 07:12] DonnaWuDongxia commented on #551
As @beaufortfrancois mentioned, the [CL](https://chromium-review.googlesource.com/c/chromium/src/+/2126470) will leave "Android NFC Reader Mode" enabled after at least one successful write/scan Web NFC operation has been called. But is will be disabled when the site is invisible, or the Mojo connection is closed. If there is no other NFC usage in Chromium, is it unacceptable to keep the device in

[2020-04-01 02:54] DonnaWuDongxia commented on #555
@kenchris Any suggestions, please?

[2020-04-01 04:49] kenchris commented on #555
Good point Zoltan, can be a note instead

[2020-04-02 13:29] OlivierGrenoble commented on #551
As a temporary workaround, when writing an NDEF, I catch all the NFC read events during 10 seconds.
You can try it here: https://www.myst25.com/ST25NFCWebApp/

[2020-04-03 06:18] beaufortfrancois commented on #551
@OlivierGrenoble Thanks for sharing your workaround.
Quick question: It looks like you use the same `readerAbortController` object in `writeNdef` and `readNfcTagContent`. Is this expected that you abort the one in `writeNdef` when you call `cancelReadOperation`?

[2020-04-03 08:39] OlivierGrenoble commented on #551
It works but I think that this could be done in a better way.
cancelReadOperation() will not abort the readerAbortController used by the write function because nfcAction is not equal to nfcActions.NFC_READ_ON_GOING. Yeah, it could be better :-S

[2020-04-03 14:27] lyellick opened #556 "Thank You... Seriously"
I personally have been really looking forward to a way to interact with NFC tags within a browser. I have tried android/xamarin frameworks for NFC interaction and just couldn't get past the learning curve. Wasn't until a few weeks ago I stumbled upon the documentation. Was so excited I took a personal day at work to play with this.

It feels really cool to be apart of a cutting edge feature when i

[2020-04-07 08:54] DonnaWuDongxia opened #557 "Get rid of filtering"
In the spec:
https://w3c.github.io/web-nfc/#the-ndefreader-and-ndefwriter-objects

[code]
It aims to replace the filters for a reader. The question is what the expection if the |options| is identical or equals? Reject the successive _Scan_? And what if the signal is identical but other memebers not equals?

So the phase

is not eaily to identify.

Can we just define the action as replaceing the pr

[2020-04-07 09:03] zolkis commented on #557
The intent was the new filter (at scan invocation) replaces the internal slot entirely (no comparison) and when scan() needs it, will get that one from the internal slot.

[2020-04-10 08:32] DonnaWuDongxia commented on #557
Thanks for explanation @zolkis, and there still is a unclear point here for the "filter". Does the "filter" include |signal| field?
A CL https://chromium-review.googlesource.com/c/chromium/src/+/2145263 has been uploaded to support successive scan().
It makes the previous signal functional if no successive signals passed. Is this OK?
[code]

[2020-04-10 20:44] smlu commented on #238
Any update on this?
We're working on some web service which also uses ISO/IEC 7816 identification cards and communicates via NFC ISO/IEC 14443 interface to identify users. If WebNFC supportrd ISO depended operations in the future we could ommit building extra platform specifict applications and instead identify users directly via web app in the web browser.

[2020-04-13 19:12] zolkis commented on #557
For a given [NDEFReader](https://w3c.github.io/web-nfc/#dom-ndefreader), its [scan() algorithm](https://w3c.github.io/web-nfc/#the-scan-method) says:

![Screenshot from 2020-04-13 21-48-09](https://user-images.githubusercontent.com/996058/79150124-e6f97880-7dd0-11ea-817a-5091bb5b014a.png)

In 4.1., if a new signal is specified, replace the old one.
If not specified, keep the old one.
In step 5, if

[2020-04-14 13:46] kenchris commented on #557
I believe we agreed just before the origin trial that we wanted to get rid of the filtering. It complicates a lot and its hard to explain to users how it actually works because it doesn't really filter.

@beaufortfrancois @zolkis

[2020-04-16 08:21] zolkis commented on #557
It would be nice to have some statistics from the origin trial how much filters have been used.
I can imagine little use, in which case we can deprecate them.

[2020-04-16 20:50] jicihome opened #558 "Make tag read only"
Hi!
I was wondering how can we "lock" the NFC tag after writting or make it read only? I see that this some security specification, but didn't found a way to do it using Write or another method.

Thanks!

[2020-04-22 06:36] markus-becker-tridonic-com opened #559 "Support TNEP: Poller Device + new record types"
From https://nfc-forum.org/product/nfc-forum-tag-ndef-exchange-protocol-tnep-candidate-specification-1-0/:

Would be nice to support this with web-nfc and/or a library on top of web-nfc.

Devices based on Nordic chips implement TNEP tag-wise:
https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/include/nfc/tnep/tnep.html

[2020-04-22 07:16] kenchris commented on #559
Is this a replacement for SNEP which is being deprecated in Android?

NFC Simple Exchange Protocol
===
The SNEP is a simple protocol for doing peer-to-peer (P2P) NDEF transfers. It is not supported by CoreNFC (iOS) and it is being deprecated on Android (where is branded Android Beam) due to security issues).

[2020-04-22 07:23] markus-becker-tridonic-com commented on #559
I do not know much more than what is written in https://futureiot.tech/nfc-forum-releases-new-specifications-to-improve-connectivity-of-iot-devices/.

[2020-04-22 07:25] zolkis commented on #559
Stack explained here:
https://nfc-forum.org/our-work/specification-releases/specifications/#specs
![image](https://user-images.githubusercontent.com/996058/79954606-38b39a00-8486-11ea-97ab-7c5d1216412a.png)

[2020-04-22 07:27] kenchris commented on #559
https://www.businesswire.com/news/home/20190612005060/en/NFC-Forum-Enhances-Connectivity-IoT-Devices-New

I guess we need some native (Android etc) support before we can consider supporting this?

[2020-04-22 07:29] zolkis commented on #559
We have not exposed SNEP directly, so I wonder do we have to expose TNEP directly, or can it be encapsulated? What TNEP specific interactions or options need to be exposed to web pages?

And yes, a prerequisite is Android support for this.

[2020-04-22 07:29] markus-becker-tridonic-com commented on #559
Isn't it layered on top of NDEF without the need of P2P? According to the stack it seems below NDEF.

The Nordic library https://github.com/NordicPlayground/fw-nrfconnect-nrf/blob/master/subsys/nfc/tnep/tag.c seems to be layered on top of NDEF.

[2020-04-22 07:36] kenchris commented on #559
From my quick look at this, this looks like an official HCE (host card emulation) API, so it will probably need something like that. I think it is great with an official HCE API but it requires Android moving to this new API or us to emulate it ontop of what is already there.

This probably requires a lot of research

Update: One part of it `TNEP Tag Device` act similar to a NDEF version of HCE, w

[2020-04-22 08:51] kenchris commented on #559
New records to support: https://nfc-forum.org/our-work/specification-releases/specifications/nfc-forum-assigned-numbers-register/

![image](https://user-images.githubusercontent.com/1101339/79961612-44539080-8487-11ea-910f-cb0ac11ff2a7.png)

[2020-04-22 08:58] beaufortfrancois commented on #559
What is the platform support of those records?

[2020-04-22 08:59] kenchris commented on #559
I don't think you need any platform support for those as long as you can write well-known records, like smart poster without native support - can we do that?

This here basically shows what they contain in the payload:

![image](https://user-images.githubusercontent.com/1101339/79962580-7fa28f00-8488-11ea-9846-2133c87fa58f.png)

You can create these record on Android:

![image](https://user-images

[2020-04-22 11:32] kenchris commented on #559
As far as I understand - only Tag Type 2, 3, 4, 5 have been updated to support TNEP:

![image](https://user-images.githubusercontent.com/1101339/79976763-7112a280-849d-11ea-8fdd-dcc6134021b4.png)

I assume this means that any TNEP Polling Device can only read these tag types (not non-standard like Mifare, or NFC Forum Type 1) and Android HCE (which emulates Type 4)

[2020-04-22 12:41] kenchris commented on #559
From reading source code:

[code]

Service Parameters Record "Tp" payload
===

byte: version (0x10)
byte: uri length in bytes
uri length bytes: uri
byte: communication_mode (0x01 single response, 0xFE service specific)
byte: min_time (0...63 - converted to time units using protocol specified formula)
byte: max_time_ext (0...15 repetitions)
2 bytes (Big Endian): max_size in bytes

TNEP status "Te"

[2020-04-22 13:52] kenchris opened #560 "Get rid of filtering"
It turns out that filtering was not the greatest idea

* it is a bit confusing as it is not filtering the records (not sure that would actually be that useful without complex rules) and it just filters whether such a record exist
* Newer standards like TNEP have other ways of selecting services as a way of filtering/communicating with IoT devices.

So let's get rid of it and simplify spec and impl

[2020-04-22 13:55] beaufortfrancois commented on #560
I would split this issue in two: "Get rid of filtering" and "Get rid of AbortController".
Regarding the AbortController, can you share the TAG members notes?

[2020-04-22 13:56] zolkis commented on #560
I agree with all the above.
@leonhsl are you fine with this?

[2020-04-22 13:57] kenchris opened #561 "Join Reader and Writer objects"
I take the blame for this. It originally seemed like a good idea with separate objects, but I am getting more and more convinced that it was a bad idea.

* If we enhance to be able to select tag in the case of multiple tags read, this is required
* TNEP also requires this
* We can get rid of ignoreRead
* User is more in control of what happens.

Suggested name `NDEFPoller` or `NDEFPollerDevice`

[2020-04-22 13:57] kenchris opened #562 "Do not require AbortController"
Also, lots of thought around AbortController with TAG members.

`scan` is a continuously running operation until cancelled, (or loss of focus etc) and not just a long running task, so me and others have come to the conclusion that AbortController is not the proper way to cancel our scans. I suggest that we follow Generic Sensors instead and introduce a `start()` and `stop()` method instead.

[2020-04-22 13:58] kenchris commented on #560
https://github.com/w3c/web-nfc/issues/562

We didn't minute that, but I am assigned to add that policy to our design policy document but haven't gotten around to it yet

[2020-04-22 14:20] kenchris commented on #562
We didn't minute that, but I am assigned to add that policy to our design policy document but haven't gotten around to it yet.

As an alternative we could (and probably should as spec and impl is there) still allow AbortController as an alternative in the `start()` method. I am reading that they are adding that alternative to the *Stream constructor

[2020-04-22 14:40] kenchris commented on #559
It also seems like we could implement the TNEP Tag Device API on top of Android HCE (Host Card Emulation, Type 4 Tag emulation + ISO-DEP / APDU). We considered this already as a replacement for SNEP (NDEF push).

It is exactly how it is accomplished on the Nordic devices, if you check the Tag Device demo:

https://infocenter.nordicsemi.com/index.jsp?topic=%2Fcom.nordic.infocenter.sdk5.v12.2.0%2Fgr

[2020-04-22 14:42] kenchris commented on #139
SNEP (peer to peer protocol is deprecated on Android and not supported on Apple OS'es).

For this reason we cannot support this feature. The TNEP and HCE provides a kind of replacement

https://github.com/w3c/web-nfc/issues/559

[2020-04-22 14:42] #139 closed, assigned to nobody

[2020-04-22 14:43] kenchris commented on #452
Actually the new TNEP protocol allows you to issue commands over NDEF:

https://github.com/w3c/web-nfc/issues/559

[2020-04-22 14:44] kenchris commented on #315
This will all be solved by joining the reader and writer:

https://github.com/w3c/web-nfc/issues/561

[2020-04-22 14:50] kenchris opened #563 "Support TNEP: Tag Device (an alternative to deprecated push/SNEP)"
When SNEP (simple NDEF Exchange Protocol) was deprecated we researched how to support sending NDEF to other active devices.

The conclusion was that we could implement it using Android HCE (Host Card Emulation) a non-standard for emulating Type 4 Tags with ISO-DEP/APDU. On top of that you could implement NDEF and basically emulate a Type 4 tag with NDEF. Pretty smart, but also a bit non standard.

[2020-04-22 14:50] kenchris commented on #559
Split the Tag Device part out into https://github.com/w3c/web-nfc/issues/563

[2020-04-22 14:52] kenchris commented on #557
Filed https://github.com/w3c/web-nfc/issues/560

[2020-04-22 21:25] lyellick commented on #562
I like the idea of keeping the abort controller as an option since I am given more freedom to hook more events within the abort controller signal. Now saying that I remember when I initially started working with this I was supprised there wasn't just a "stop" method, but after understanding the abort controller and signal I appreciated it.

Example of how I am using it [here](https://gist.github.c

[2020-04-23 10:10] kenchris commented on #551
Hi there, we are most likely going to join the objects #561 which should make handling read and write easier after we handle all the details.

[2020-04-23 12:58] OlivierGrenoble commented on #561
On Android, it is not possible to select one tag among several tags. There should be only one in the RF field.

[2020-04-23 18:10] reillyeon commented on #561
I vote for calling the combined object `NDEFReader`. The physical hardware components for NFC seem to usually be called a "reader" even though they can also write. It doesn't seem necessary to find a new (potentially awkward) word to describe it.

[2020-04-23 18:57] kenchris commented on #561
I need to get hand on the new NFC TNEP spec, but it looks like they used poller device (vs tag device) but I need to confirm

[2020-04-24 06:35] OlivierGrenoble commented on #561
I agree

[2020-04-24 06:57] kenchris commented on #561
I checked the new spec and it seems that the Poller thing was just what Nordic named it in their API.

[2020-04-26 14:09] zolkis commented on #561
NFC Universal Device
NFC Tag Device
NFC Reader Device

Ergo what about `NFCReader`, bearing in mind possible future support for NDEF+other tech for a given device?

**Edit.**
In fact, pondering whether `NFCDevice` or `NDEFDevice` would be better. Think about e.g. [Example 2](https://w3c.github.io/web-nfc/#example-2).

[code]
 If we used `NDEFReader`, we created  `reader` and use it for writing.

[

[2020-04-27 06:39] markus-becker-tridonic-com commented on #559
Would it be possible to test TNEP with WebNFC right now using external type records or would one have to wait until Tp, Te and Ts have been added to the specification and implementation?

[2020-04-27 12:17] zolkis opened #566 "Parse NDEF T records: data set to full PAYLOAD?"
In [Parsing T records](https://w3c.github.io/web-nfc/#parsing-ndef-well-known-t-records),

![Screenshot from 2020-04-27 15-15-06](https://user-images.githubusercontent.com/996058/80371156-1f518a00-889a-11ea-9858-4a0f6e510d19.png)

Step 10, we set `data` to the full PAYLOAD.

[2020-04-27 17:05] reillyeon commented on #561
I'd be cautious about assuming that the existing API can be extended to support future technologies. Keeping the API focused on NDEF allows us to only consider a subset of all possible NFC interactions and built the best API for that.

[2020-04-27 18:52] zolkis commented on #561
Discussed with Kenneth that we'd likely stick with `NDEFReader` that will have a `write()` method :).

[2020-04-28 11:22] kenchris commented on #559
@markus-becker-tridonic-com you would have to wait until that is added yes.

[2020-04-28 11:58] kenchris opened #567 "TNEP research/explainer"
TNEP - Tag NDEF Exchange Protocol
===

TNEP is a protocol based on top of NDEF. It extends NDEF with 3 new record types, one for the reader device (e.g. phone) and two for the tag device.

A tag device would be a smart device (active, powered) that emulates a tag type (Type 2, 3, 4, 5 are supported) which is able to expose NDEF when read and change the data exposed given some timing constraints.

[2020-04-28 12:06] kenchris commented on #567
Open Q: When deselecting a service (select with empty string basically) OR when selecting an unknown service, no status message is returned, so question is when do give up. If you select an unknown service, then we don't know the polling time.

[2020-04-28 12:15] kenchris commented on #567
Assumption, it is at least for the initial response, as status and data are delivered together, so this timeout should also count for initial response for service specific mode.

Assumption, this would be the same time constrains between messages (need to confirm)

Confirmed:

[2020-04-28 12:18] kenchris commented on #567
Selection
---

Selecting a new service while one is already selected, will (tag device requirement) auto deselect the existing service.

The reader SHOULD deselect a service after being done using it (single response - received data or error status).

Implementation: If a status record indicating success is received out of band (not in return to select) the current service should be deselected.

N

[2020-04-28 12:19] zolkis commented on #567
What data would `onservicefound` carry?

I'd prefer the alternative option, plus a `FrozenArray<TNEPService> services`?

[2020-04-28 12:20] kenchris commented on #567
@zolkis Yes, something like that. It makes sense to keep it on the main object as you probably want to select other services later

[2020-04-28 12:22] zolkis commented on #567
Good!
We can move `records` to the reader object already now.

[2020-04-28 12:26] kenchris commented on #567
Yes, and I suggested that before. There might be a few issue with regard to micro tasks so make sure it is never replaces while being used from JavaScript, but @anssiko will probably know how that was fixed in Generic Sensors

[2020-04-28 12:51] kenchris commented on #567
Use-cases
===

TNEP allows for device communication like Bluetooth and USB does.

It is not high bandwidth like USB so it is probably more comparable to Bluetooth. The big difference is that it requires close proximity to the device which is better for privacy:

* others cannot gain access from a distance
* easy to identify who you are communicating with

Also keep in mind that there is a new NFC

[2020-04-28 12:52] kenchris commented on #559
Did some exploration here: https://github.com/w3c/web-nfc/issues/567

[2020-04-28 17:07] Astriel commented on #238
Any update on this one ? I've tried the Google Chrome Web NFC Demo, and unfortunatly I'm not able to get informations of the card.

[2020-04-28 17:07] Astriel commented on #355
Any update on this one ?

[2020-04-29 15:22] Astriel commented on #101
Any update on this one ? Would love to be able to read the content of my travel card based on IsoDep.

[2020-04-29 16:39] taralx commented on #101
I also really want this, but the core functionality still isn't launched, so I don't think we'll see progress on this until after that.

[2020-04-29 16:54] Astriel commented on #101
I know this is already doable through Android, I've tested the metroroid app and I can have access to my last 6 travels by public transportation. Making this done through a website could make things easier rather than having to code a whole Android App just for that part :D

[2020-04-30 18:30] zolkis opened #569 "Simplify scan()"
After filtering is gone and we have separate readers each with internal slots, IMHO we could simplify scans:
- resolve [scan()](https://w3c.github.io/web-nfc/#the-scan-method)'s promise with a <[serialNumber](https://w3c.github.io/web-nfc/#dom-ndefreadingevent-serialnumber), [NDEFMessage](https://w3c.github.io/web-nfc/#the-ndefmessage-interface)> tuple
- remove the [`onerror`](https://w3c.github.i

[2020-04-30 18:44] kenchris commented on #569
No, let's not do that please - multiple reasons :-)

1. `scan` initiates polling and that is also needed for writing, so this would screw up letting people in control of what is happening and easily implement timeouts, ignore reads while writing etc.

It is also needed for TNEP communication, which is not a just-read-one-value and your are done mode.

2. That is needed as we are not doing 1.

Not

[2020-05-01 09:02] zolkis commented on #569
This crossed my mind, too.
We could leave scan() as it is with AbortController (for which we received dev feedback to keep).

Anyway it's a convenience and someone can implement it with scan(), so I am not sure it's worth doing. Maybe we could include an example on how to implement a simple read() that resolves with the data?

[2020-05-01 09:24] kenchris commented on #569
That example exists in my latest PR

[2020-05-04 13:27] #569 closed, assigned to nobody

[2020-05-04 13:38] kenchris commented on #562
Even Web Bluetooth Scanning doesn't use AbortController and also has a stop method.

https://webbluetoothcg.github.io/web-bluetooth/scanning.html#bluetoothlescan

It is a bit different than just start/stop, as the main web bluetooth objects does a lot more than scanning. Here you receive an object back that you can call `stop` on.

[2020-05-06 16:50] annevk opened #573 "Encoding Standard stream dependency needs work"
https://github.com/whatwg/encoding/issues/180 was never resolved, but a PR still landed here...

[2020-05-07 09:18] zolkis commented on #573
It became irrelevant since #265, as the [push](https://encoding.spec.whatwg.org/#concept-stream-push) concept is not used any more from the Encoding Standard.

[2020-05-07 09:31] kenchris commented on #573
@zolkis there is still wording around push in the spec. Would make sense to look over all of that and update it. Make it clear that this is not being pursued and why

[2020-05-08 15:42] zolkis commented on #573
I checked before commenting and ATM there is no more reference to encoding/push.
The word "push" figures once in a different context.

[2020-05-08 15:44] zolkis commented on #573
But there are other stream dependencies, the concept, read, end of stream, but they seem to be okay.

[2020-05-08 15:54] annevk commented on #573
No that's not okay, see https://github.com/whatwg/encoding/issues/180#issuecomment-518155671 onward.

[2020-05-08 16:06] zolkis commented on #573
Ah, I see. We'll keep this open. Thanks Anne.

[2020-05-09 20:17] pechisworks commented on #558
This would also be useful for my use cases.

[2020-05-11 08:07] beaufortfrancois commented on #562
For info, https://github.com/WICG/idle-detection/issues/19

[2020-05-11 08:15] kenchris commented on #562
Thanks Francois. I guess we should just rename to start() then and we will be consistent with IdleDetector and future Generic Sensors

[2020-05-11 10:13] zolkis commented on #562
Works for me.

[2020-05-11 13:37] beaufortfrancois commented on #562
`start()` and `write()` look odd to me under the same NDEFReader interface.

[2020-05-11 15:13] zolkis commented on #562
True, a `start()` would have made sense in a separate `NDEFReader` interface, but with the merged objects it doesn't. `scan()` works for me, too.

[2020-05-12 20:39] Fortuntato commented on #556
I am completely new to this type of project environment and I was wondering if you could give me some guidance to see this kind of work with Web-NFC working. Is there anywhere I can have a play around to see your work? I am trying to find a demo where I can understand this technology more in depth

[2020-05-12 20:42] riju commented on #556
https://web.dev/nfc/  should be a good reference.

[2020-05-12 21:04] lyellick commented on #556
Yeah @riju posted the best starting point.

My biggest hurdle at first was just getting the right browser and enabling the correct flags.

1. Download chrome dev
2. In mobile browser go to chrome://flags and enable Experimental Javascript and Experimental Web Platform Feature

Then after that i was having issues getting the permission prompt to appear, but I think this javascript class i wrote has

[2020-05-14 04:12] SinZ163 commented on #293
I'm currently looking into building a web app for my apartment to control home automation stuff, and being able to have nfc tags around the place to trigger logic would be great but I don't always want to have to open the app to do so.

If I was able to have the tags prewritten to say they belong to this origin to be consented to background reads would solve my use case.

[2020-05-14 14:41] zolkis commented on #293
In the past we have explored the idea of "origin" exported to NFC tags, but the inherent insecurity of NFC tags (no guarantee the tag was not overwritten with a forged origin) made it a no-fly. So we cannot "trust" tags. AFAIK HW id's are not always UID's and can be forged as well. Tags are therefore always untrusted.

Some sort of prior user permission + notifications on read (eventually ask for

[2020-05-19 01:00] lyellick commented on #556
@Fortuntato Just checking in to see if you were able to get started.

[2020-05-20 12:09] kenchris opened #575 "A way to check whether tag is writable or not"

[2020-05-20 12:09] kenchris commented on #562
Let's close this then

[2020-05-20 12:09] #562 closed, assigned to nobody

[2020-05-20 12:10] #557 closed, assigned to nobody

[2020-05-20 12:11] kenchris commented on #560
Leave open until merged to spec

[2020-05-20 12:16] #543 closed, assigned to nobody

[2020-05-20 12:20] kenchris commented on #542
unknown makes sense for sub records where you know what you are doing and don't want to spend data on mime type etc. We should be able to create them

[2020-05-20 12:23] kenchris commented on #547
Can this be closed @zolkis ?

[2020-05-20 12:25] kenchris commented on #556
Thank you for the kind words @lyellick - closing for now!

[2020-05-20 12:25] #556 closed, assigned to nobody

[2020-05-20 12:27] kenchris commented on #540
Makes sense to have as part of this repo. I totally agree! @takefumi-yoshii do you mind contributing it to this repo?

[2020-05-20 12:28] #537 closed, assigned to nobody

[2020-05-20 12:29] #523 closed, assigned to nobody

[2020-05-20 12:30] #515 closed, assigned to nobody

[2020-05-20 12:31] kenchris opened #576 "Throw NotSupportedError (or similar) when NFC isn't supported"

[2020-05-20 12:33] kenchris commented on #510
The ctor of NDEFRecord takes an NDEFRecordInit, so isn't it handled then?

[2020-05-20 12:36] kenchris commented on #459
as far as I understand all NFC tags should support ndef, but I might be wrong - or this might be an issue with the tag. But as this is outside our scope I am closing

[2020-05-20 12:36] #459 closed, assigned to nobody

[2020-05-20 12:41] kenchris commented on #341
Going to remove filtering

[2020-05-20 12:41] #341 closed, assigned to nobody

[2020-05-20 12:41] kenchris commented on #327
Going to remove filtering

[2020-05-20 12:41] #327 closed, assigned to nobody

[2020-05-20 12:42] #315 closed, assigned to nobody

[2020-05-20 12:42] #369 closed, assigned to nobody

[2020-05-20 12:43] kenchris commented on #429
Duplicate of #78

[2020-05-20 12:43] #429 closed, assigned to nobody

[2020-05-20 12:45] kenchris commented on #321
Looks like we are good - thanks!

[2020-05-20 12:45] #321 closed, assigned to nobody

[2020-05-20 12:45] kenchris commented on #140
This is outside our scope for now

[2020-05-20 12:45] #140 closed, assigned to nobody

[2020-05-20 13:19] takefumi-yoshii commented on #540
@beaufortfrancois @kenchris Of course! I'll contribute as soon as possible 😄

[2020-05-20 15:12] zolkis commented on #547
Yes.

[2020-05-20 15:12] #547 closed, assigned to nobody

[2020-05-23 16:21] OR13 opened #578 "APDU transmit"
Hello, I'm testing with origin trial, and trying to reproduce this working node.js sample:

https://github.com/OR13/nfc.did.ai/blob/master/packages/tangem-sdk-node/src/APDU/readCard.ts

Note the `reader.transmit`... https://github.com/pokusew/nfc-pcsc#reading-and-writing-data

This is needed for raw APDU communication: https://en.wikipedia.org/wiki/Smart_card_application_protocol_data_unit

I see

[2020-05-25 11:13] kenchris commented on #578
There is not at the moment no, and not for at least the initial release.

[2020-05-25 11:21] kenchris commented on #561
Fixed on branch: https://github.com/w3c/web-nfc/commit/00509fc2df1fa63a0456034afb04eb16d03ca4cd

[2020-05-25 11:22] kenchris opened #579 "Remove ignoreRead and add examples of how to easy accomplish"
Done on branch: https://github.com/w3c/web-nfc/commit/00509fc2df1fa63a0456034afb04eb16d03ca4cd

[2020-05-25 11:23] kenchris opened #580 "Remove filtering"
Done on branch: https://github.com/w3c/web-nfc/commit/c6eaae294626ab2f59276d54367b83094b57a6ff

[2020-05-25 11:24] #580 closed, assigned to nobody

[2020-05-25 11:25] kenchris commented on #560
Done on branch: https://github.com/w3c/web-nfc/commit/c6eaae294626ab2f59276d54367b83094b57a6ff

[2020-05-25 12:24] kenchris commented on #579
Approx code that would have to be removed

https://source.chromium.org/search?q=ignoreRead()&sq=&ss=chromium%2Fchromium%2Fsrc:third_party%2Fblink%2F&originalUrl=https:%2F%2Fcs.chromium.org%2F

[2020-05-25 12:39] kenchris commented on #560
Looking through the code, I don't see any where the filtering is actually done, so it might be as easy to remove the 3 properties in the dictionary in the files below:

third_party/blink/web_tests/external/wpt/interfaces/web-nfc.idl
third_party/blink/renderer/modules/nfc/ndef_scan_options.idl

@zolkis is this handled in the spec?

![image](https://user-images.githubusercontent.com/1101339/82812700

[2020-05-25 13:18] zolkis commented on #560
In the draft branch, yes, by #565

[2020-05-26 08:40] beaufortfrancois commented on #560
Filtering is done on the Java side:
https://source.chromium.org/chromium/chromium/src/+/master:services/device/nfc/android/java/src/org/chromium/device/nfc/NfcImpl.java;l=615;drc=cc291e324ffba9c0282d62f00c2005637d5fb37a?originalUrl=https:%2F%2Fcs.chromium.org%2F
https://source.chromium.org/chromium/chromium/src/+/master:services/device/nfc/android/java/src/org/chromium/device/nfc/NfcImpl.java;l=59

[2020-05-26 08:44] kenchris commented on #560
I see, seems easy to remove though, so that is good!

[2020-05-26 08:48] beaufortfrancois commented on #579
https://source.chromium.org/search?q=ignoreRead%7Cignore_read%20f:nfc%20-f:debug&originalUrl=https:%2F%2Fcs.chromium.org%2F covers a bit more.

[2020-05-26 09:00] kenchris commented on #579
Yay, you are better at searching than I am :-)

[2020-05-26 12:37] kenchris opened #581 "Make sure Ack section is up to date"
Balasz Engeni, Reilly are at least missing. More might be!

[2020-05-26 12:38] riju commented on #581
Balazs Engedy

[2020-05-26 13:30] beaufortfrancois commented on #581
Theodore Olsauskas-Warren and Balazs Engedy both would love to be in the Ack section as their help definitely improved the spec regarding security and privacy.

[2020-05-26 16:57] zolkis commented on #581
What about Reilly? At least I am really grateful for his informed and concise suggestions.

[2020-05-26 17:06] kenchris commented on #581
![image](https://user-images.githubusercontent.com/1101339/82929440-ef260580-9f83-11ea-8f91-af70c0b4637a.png)

[2020-05-26 17:06] kenchris commented on #581
Want to do the PR @zolkis?

[2020-05-26 17:58] #581 closed, assigned to nobody

[2020-06-10 20:54] thelamer commented on #159
I found this thread while googling for null returns, had to combine a couple pieces of code from the sample to the document about the standard to make this functional example: (only grabs text records)
https://gist.github.com/thelamer/a13e6cd65ff40815ec0a58b1c1bdd710

As this is supported and functional in the current chrome stable for Android, couple notes is that:
1. You need to setup a legit Ht

[2020-06-12 15:56] thelamer commented on #142
We just implemented NFC scanning for our Web Wallet here https://github.com/linuxserver/nano-wallet/ (thanks for all the work in the web-nfc project)

Given the major use case of people transferring funds phone to phone using insecure text data ( in this case just a string containing the destination address and amount) being able to broadcast a tag from the same interface as well as scan them is e

[2020-06-21 14:16] Fortuntato commented on #578
Hi there,
I think it would be an useful enhancement since I was thinking to do something once the web app understand the smart card origin. For example a simple use case would be:

An online shop has student discounts and needs a valid student verification.

- The Web App can prompt a page that ask to tap with the student ID on the phone
- Reading the smart card it will find out the University nam

[2020-06-22 14:07] OR13 commented on #578
Yes, especially useful for smart cards that can produce digital signatures or encryption / decryption using hardware isolated keys.

Web AuthN Lists NFC as a transport:

https://www.w3.org/TR/webauthn/#transport

This was my original reason for investigating NFC.

I was able to work around the limitation by creating a "Kiosk Setup", where an NFC Reader is connected to a web server and the web serv

[2020-06-24 09:11] kenchris opened #583 "Improve security section"
Party feedback from TAG.

I have written some improvements that @zolkis will be integrating

[2020-06-24 09:12] kenchris opened #584 "Do not allow reading/writing if multiple tags are within field"
Some reasoning below:

--
NFC can only read one tag at the time, but multiple tags can be detected and one of the tags can be selected as the tag to communicate with.

Use cases for this could be having multiple smart cards (NFC based) in your wallet and not wanting to take the card out.

This is mostly useful for payment cards and travel cards that are read by external hardware and thus not a use

[2020-06-24 09:16] kenchris opened #585 "Allow visible, persistent, modal UI while scanning"
Make sure the spec allows for a UA to implement the above and also abort after just one scan (like when user clicks cancel)

Also add a `once: true` option to `scan()` that will abort scanning when tag leaves field (to allow read and then a write). Should probably also abort after write.

^ above we are not talking about a persistent notification, but instead a modal indicator that stays visible u

[2020-06-24 09:16] kenchris commented on #583
Some WIP work here:

Things that users should be made aware of when using NFC
===

Read data is shared with site
---
When a site has access to read NFC content, then the data of the scanned tags is shared with the site, in a similar way to upload files and images. The user has to trust that the site handles this data properly and in the intended manner.

A site may modify and overwrite data of tag

[2020-06-29 16:05] #583 closed, assigned to nobody

[2020-06-30 09:17] Munoon commented on #230
The other day, Apple published a list of functions that they will not implement. One of them is Web-NFC. Unfortunately...
More info [here](https://webkit.org/tracking-prevention/).

[2020-06-30 09:32] zolkis commented on #230
It is a good thing they care about privacy.

However, it would be even better to create an environment for the affected functionality that would make it safer to use and/or raise user alertness in order to mitigate the threats. Just cutting the functionality is hopefully only an intermittent "fix".
There have been attempts to create this kind of environment (e.g. in the SysApps WG), but it's not t

[2020-06-30 09:45] Munoon commented on #230
@zolkis actually, I totally agree with you. In my opinion, web already not really safe and browsers really should do something with it. Unfortunately, most popular browsers like Google Chrome don't really care about it and even make their browser dangerous by adding they own analytics without asking users.
By the way, Safari in new MacOS Big Sur started blocking analytics services and it works gre

[2020-06-30 09:56] anssiko commented on #230
This is a periodic friendly reminder that this repo is for technical discussion on specification development. Comments and requests to browser vendors regarding their products and/or product plans should be directed to their own channels. See e.g. https://web.dev/how-to-file-a-good-bug/ on how to constructively contribute this feedback toward implementations.

[2020-07-05 17:59] Fortuntato opened #589 "Web NFC available on Chrome 84?"
Hi all, as we are approaching the date when Chrome v.84 will be released I was wondering if this feature is going to be released or not because, long story short, I have made my University dissertation about this feature and I have produced a Web App with NFC.
Once I complete it I would be more than happy to share my research with you. But for the moment I really need to know what happens on the 1

[2020-07-06 12:14] riju commented on #589
@Fortuntato : As you might be aware, we did run Origin Trials and we got a few feedback from developers. We are addressing those them right now.

[2020-07-06 13:51] Fortuntato commented on #589
@riju Thank you for the reply. So for the time being until the end of the month, the feature will be still available as part of the Experimental Web Features flag on Chrome?

[2020-07-06 13:53] beaufortfrancois commented on #589
Yes. The flag will still be available in Chrome.

[2020-07-06 16:58] anssiko commented on #589
@Fortuntato I'm excited to hear you chose Web NFC as your dissertation topic. Please contribute your findings to the group when you're ready to do so. Also, I encourage you to [join the group](https://www.w3.org/community/web-nfc/) to keep in touch even after you're done with your dissertation. Maybe you'll be using this technology in your future projects.

I'll close this issue now. Please chime

[2020-07-06 16:58] #589 closed, assigned to nobody

[2020-07-10 09:03] kenchris opened #592 "Decide whether multiple scanners are allowed"
Currently as spec'ed each reader instance will receive the same data.

I am not a bit fan of this. iOS allows the same, but there is an order to it, like the first (or maybe it was the last) added reader receives the data first and if it doesn't handle it, it will be given to the next reader. That makes more sense to be, but this is the web so we really don't want other libraries etc to do any rea

[2020-07-10 09:18] riju commented on #592
Context: Multiple scans in the world where there is no filtering.
We added support for multiple scan invocations on the same Reader in this [CL](https://chromium-review.googlesource.com/c/chromium/src/+/2145263)

`NDEFScanOptions/signal` is there to abort a particular scan. Calling `scan` to cancel other scans is a bit odd ?

[2020-07-10 10:13] beaufortfrancois commented on #592
I'm looking at other APIs and how they deal with multiple operations with an AbortSignal.

The Idle Detection API doesn't allow starting a second time when it's already started
[code]

Something similar happens for Web Bluetooth and `watchAdvertisements`
[code]

So we could simply reject scan promise when there's already an ongoing scan. WDYT?

[code]

[2020-07-10 12:36] kenchris commented on #592
I would be OK with that

[2020-07-10 16:39] Snapstromegon opened #593 "Provide a way to get the NDEFMessage and NDEFRecord size before writing"
_I did not find something like this in the spec or in Chrome's current canary (86.0.4196.0) implementation._

## Problem Abstract

I'm trying to write some data to NFC Tags, but I want to know how large the NDEFMessage/Record is before I'm writing it (to predict fail/success cases).

## Usecase

My usecase during origin trial was, that I write some optional history data into the record and I know

[2020-07-14 09:59] zolkis commented on #592
Or new scan (likely initiated by the user) canceling the existing ones.
Looks better than telling the user "please cancel your previous scan manually".
No strong opinion, just consider the best flow.

[2020-07-21 17:16] taralx commented on #592
The only question I have is if this will be a case of "which of my many tabs is holding the NFC scan". Might be ok if the UA has a persistent indication that allows the user to jump to the page though.

[2020-07-26 05:11] Fortuntato commented on #589
Hi all! I have finalised my software project and dissertation/report about it. This is my project repository: https://github.com/Fortuntato/Contactless-Voucher
A copy of the project report can be downloaded here: https://www.dropbox.com/s/xk33znh06bj4tps/Contactless%20Loyalty%20Project%20Report.pdf?dl=0

[2020-07-29 10:00] kaissair opened #594 "NFC not working on new version chrome"
Hi, since 3 months now I use NFC API by and for google chrome, and today it's not working.
it is very disturbing because I use this API  for my system and myu users are block
Do you have any informations about re-activation afi this api by google or how can I active it again

Many thank's for your response
best regards

[2020-07-29 10:28] riju commented on #594
We are implementing the Origin Trial feedback and should expect to complete by M87. In the meantime, please enable the `#experimental-web-platform-features` flag in `chrome://flags`

[2020-07-29 11:31] kaissair commented on #594
Hi

Many thank's it's working now.

You make à Great job

👍👏👏👏

LEMMOUCHI Kaïss Jamil
33, Avenue de Wagram - 75017 Paris
Mob : +33 6 46 86 45 26
           +33 6 20 27 90 28
Mail : Kaiss@airgos.aero

Le mer. 29 juil. 2020 à 12:28, Rijubrata Bhaumik <notifications@github.com>
a écrit :

[2020-08-03 17:48] echavezvise commented on #594
Thank you very much @riju, it was very helpful, I hope the project continues and will soon be released.

In the company I want to use it, in 3 web applications, 2 to read the tags and register them.
Another to read cargo trucks, and write the material and specifications since where we work we are offline.

Regards.

[2020-08-11 10:47] glococo opened #595 "Chrome, nfc-list and ACR122"
Hi everyone.
I want to work in desktop with the ACR122 nfc pad but It seems to not be detected by Chromium, Chrome (Beta/Dev) in Ubuntu.

My current setup seems to work from console:

[code]

In Chrome I get in web-nfc sample:
[code]

Any help is really appreciated.

[2020-08-12 07:07] cyberphone commented on #595
Web NFC is only supported on Android.  NFC is no longer a default component of a PC (according to Intel).  QR is nowadays the recommended solution for interacting with an external device and the desktop Web.

[2020-08-12 07:37] zolkis commented on #595
Indeed, the current implementation of Web NFC is for Chrome on Android.

There has been some work done to use NFC middleware on Linux to implement Web NFC (e.g. using [neard](https://git.kernel.org/pub/scm/network/nfc/neard.git/)) but in the end we have focused on doing the first implementation on top of the more mature Android NFC API.

That being said, the doors are open for other Web NFC implem

[2020-08-18 11:36] vinisha246 opened #596 "Web NFC in iOS Chrome"
Hi,
I have tried Web NFC in Android Chrome and it is working fine.
Does it work in iphone too? I have tried setting up, but **couldn't find "Experimental Web Platform features"** to enable.

[2020-08-18 12:00] anssiko commented on #596
See https://caniuse.com/#feat=webnfc for the current browser support.

There's a WebKit bug https://bugs.webkit.org/show_bug.cgi?id=163196 that has been open for a while.

See also https://web.dev/how-to-file-a-good-bug/ for general guidance on how to tell browser vendors about issues you discover.

[2020-08-18 12:00] #596 closed

[2020-08-19 09:25] mini1989cloud opened #598 "Web NFC for Hospitality - to unlock doors"
Can we use web NFC for transmitting digital key to door locks and unlock it? Hotel room keys could be transmitted directly to the guests’ smartphones. Rather than using an app, can guest use chrome browser to transmit digital key and unlock the door? Does it support the protocol for transmitting keys to lock?

[2020-08-19 10:56] mini1989cloud commented on #356
Hi @riju , is this feature available now in Chrome browser to transmit digital key to door locks to unlock it? Waiting for your reply.

[2020-08-19 10:59] riju commented on #356
@mini1989cloud : No. WebNFC only works with NDEF and the hotel key scenario would need a bit more, so right now this is out of scope.

[2020-08-19 14:15] cyberphone commented on #356
There are a few issues that makes this less useful where the most fundamental is how to get the URL to the Web application for the initialization.  It seems that using NFC for handing over a URL to the mobile browser would be a better starting point.  The Web application could in turn talk to a native application.  This would also work for remote key initialization.

Usage of keys requires a compl

[2020-08-25 05:30] cyberphone commented on #356
Since the provisioning of hotel keys can be done entirely remotely I have begun looking into other solutions as well for "physical Web" invocation.  This one looks quite interesting:
https://www.computerworld.com/article/3490037/ultra-wideband-explained-and-why-its-in-the-iphone-11.html

[2020-09-17 23:27] bershanskiy commented on #598
I'm also interested in smart locks that could work with a web app, but unfortunately I did not find anything. In my case, I was looking for a system for an apartment complex that would support temporary narrowly scoped keys/credentials. Ideally, it would allow residents to send guests and delivery/couriers/hired help links containing a signed token/key so that the web app could extract from the UR

[2020-10-13 15:47] zolkis opened #602 "Attach to navigator"
This is to record the arguments in a discussion about merging NDEF reader and writer objects and removing filters, coming from Origin Trials feedback.
That resulted in using only one NDEF reader and one writer promise being part of NFC state (per settings object).
It means we don't need multiple NDEFReader objects, since only the one owning the last called scan() will be active at a time, the prev

[2020-10-13 19:00] zolkis commented on #602
Next, the question is how to attach to the `navigator`.

1. use `navigator.nfc.ndef` to represent an NDEFReader, which exposes `scan()`, `write()`, `onreading`, `onreadingerror`.
`onreading` will contain an `NDEFMessage`.

2. `navigator.nfc` to contain abortable `scan()` (which initiates NFC polling) and `ontagfound` event (basically the same what `onreading` is used for now) which presents an NDE

[2020-10-14 07:55] zolkis commented on #602
Let's have some JS examples for option 2 above. [Example 4]() has to use `ignoreRead`, with option 2 `ignoreRead` is not needed.

[code]

[2020-10-14 08:00] zolkis commented on #602
Alternative [Example 6](https://w3c.github.io/web-nfc/#example-6).

[code]

[2020-10-15 11:53] hmiguel commented on #101
+1 for this one.

[2020-10-15 12:01] zolkis commented on #101
Developers are needed and welcome to work on these features.
FWIW, we have drafts for extending the spec, if it comes to that.

[2020-10-31 22:03] dbwodlf3 opened #603 "typo"
https://w3c.github.io/web-nfc/#the-ndef-record-and-fields

there are written "bytes". but there are really not bytes. just bits.

Only the first three bytes (lines in figure) are mandatory. => Only the first three bits

[2020-11-13 17:31] OR13 commented on #578
@kenchris @zolkis @beaufortfrancois

I know this has already been asked and answered, but this feature would be complete game changer.

There are a lot of NFC products out there that don't speak NDEF.

If there is anything I, as a developer / W3C member can do to help get a lower level interface in please let me know.

[2020-11-17 10:23] zolkis opened #604 "Consider introducing an 'ontagfound' event"
This is eventual future work, coming from #602 and related discussions, to align the usage flow of the API with how NFC actually works (also on Android) - namely, react to a "tagfound" event (optionally, allowing later a "tag released" event, and also allowing a start() method akin to Generic Sensors). Following a "tagfound" event, the tag may be then read and written, instead of installing reader

[2020-11-23 16:37] manuelfink commented on #596
As I guess more are going to search for this.

W3 Web-nfc standard likely is the wrong place to request this, thus I forwarded the question to Google Chrome CRBUG Tracker https://bugs.chromium.org/p/chromium/issues/detail?id=520391#c220

This is a duplicate of https://github.com/w3c/web-nfc/issues/230.

[2020-12-08 10:11] kenchris commented on #579
This has happened

[2020-12-08 10:11] #579 closed, assigned to nobody

[2020-12-08 10:12] kenchris commented on #584
https://w3c.github.io/web-nfc/#multiple-tags-may-be-within-the-reading-field-at-the-same-time:~:text=Multiple%20tags%20may%20be%20within%20the%20reading%20field%20at%20the%20same%20time

[2020-12-08 10:12] #584 closed, assigned to nobody

[2020-12-08 10:16] kenchris commented on #585
This is possible with the current design

[2020-12-08 10:16] #585 closed, assigned to nobody

[2020-12-08 10:16] kenchris commented on #561
Merged upstream

[2020-12-08 10:16] #561 closed, assigned to nobody

[2020-12-08 10:17] kenchris commented on #595
Closing as this is not spec related

[2020-12-08 10:17] #595 closed, assigned to nobody

[2020-12-08 10:17] beaufortfrancois commented on #603
I believe "Bytes" refer to the lines. Each line is a byte, which consists of 8 bits (rows).
@kenchris Do you confirm?

[2020-12-08 10:18] kenchris commented on #594
Sounds like this is resolved, also not a spec issue

[2020-12-08 10:18] #594 closed, assigned to nobody

[2020-12-08 10:22] kenchris commented on #603
correct

[2020-12-08 10:23] #603 closed, assigned to nobody

[2020-12-08 10:24] kenchris commented on #560
This has been integrated into the spec

[2020-12-08 10:24] #560 closed, assigned to zolkis

[2020-12-08 10:25] kenchris commented on #566
Has this been fixed?

[2020-12-08 10:40] dbwodlf3 commented on #603
ah.. understand.

[2020-12-08 10:41] beaufortfrancois commented on #566
Spec has **not** been fixed indeed. @zolkis Can you have a look?

[2020-12-08 10:46] beaufortfrancois commented on #592
@kenchris We've decided to simply reject `scan` promise with InvalidStateError when there's already an ongoing scan.
However spec was not updated despite implementation changes at https://chromium-review.googlesource.com/c/chromium/src/+/2297559 FYI @riju
@zolkis Do you mind updating the spec to address this issue?

[2020-12-08 10:49] zolkis commented on #566
Need to check the implementation as well.

[2020-12-08 10:51] zolkis commented on #592
Hmm. It seems we need to reintroduce an internal slot for scanning. Or should we use generic prose?

[2020-12-08 10:58] beaufortfrancois commented on #566
Implementation is good. See https://source.chromium.org/chromium/chromium/src/+/master:services/device/nfc/android/java/src/org/chromium/device/nfc/NdefMessageUtils.java;drc=bf799475f9ff40b7e1e2be2fd3a68911c4f047ee;bpv=1;bpt=1;l=271

[code]

[2020-12-08 14:19] #566 closed, assigned to zolkis

[2020-12-16 05:53] beaufortfrancois commented on #592
@zolkis See https://github.com/w3c/web-nfc/issues/592#issuecomment-740542712. Chromium implementation does not support multiple scans on the **same** reader, but it's fine for multiple readers. Please update spec with a `has_pending_scan_request_` bit as in https://chromium-review.googlesource.com/c/chromium/src/+/2297559/5/third_party/blink/renderer/modules/nfc/ndef_reader.cc

[2020-12-16 05:56] beaufortfrancois commented on #576
This is a Chromium implementation issue, not spec related.
In Chrome, the `NDEFReader` interface won't be exposed at all if the API is not supported (Desktop platform for now) to avoid potential confusion.

[2020-12-16 09:58] zolkis commented on #592
@beaufortfrancois

Does it mean we deliberately make scan behavior different from write behavior?
Writes cancel previous writes.

It seems you proposing the opposite for reads, i.e. that new scans should not replace previous scans, but fail with the error?
We seem to have implementation for this, whether or not it is the correct, or desired behavior.
But this would prevent the issue of how to noti

[2020-12-16 13:22] mrquincle opened #613 "Every scan results in empty records"
Hi, I have tried half a dozen different NFC tags and cards.

[code]
They all result in the `empty` recordType. If I just use an Android tag reader there's quite a lot of information in the NDEF records, so this seems incorrect.

Tried on (of course with experimental web platform features enabled):
+ Chrome: 87.0.4280.66
+ Chrome: 87.0.4280.101
+ Chrome Canary: 89.0.4357.0

I've run this on a OnePl

[2020-12-16 13:30] beaufortfrancois commented on #613
This seems like a browser issue, not related to spec directly. @mrquincle Can you file bug at https://bugs.chromium.org/p/chromium/issues/entry?components=Blink%3ENFC and share it with me so that we can diagnose the issue?

[2020-12-16 13:31] mrquincle commented on #613
You will always see, I got triggered by the commit where a lot of use cases that are not supported by Web RTC are removed or described as such.

Hence, I found another NFC device and tried it as well. Now I get a proper `url` recordType, sweet! I'll close this. Sorry for the noise!

[2020-12-16 13:31] #613 closed, assigned to nobody

[2020-12-16 13:32] beaufortfrancois commented on #613
Glad to know it's working for you ;)

[2020-12-28 10:39] #592 closed, assigned to zolkis

[2020-12-30 09:15] beaufortfrancois commented on #576
With my previous comment, I believe we can close this issue. Please re-open if I'm wrong.

[2020-12-30 09:15] #576 closed, assigned to nobody

[2020-12-30 09:23] beaufortfrancois commented on #551
NDEFReader and NDEFWriter have been merged into NDEFReader. See https://github.com/w3c/web-nfc/blob/gh-pages/EXPLAINER.md#changes-done-after-origin-trial-ot

With updated spec examples, I believe we're good now: https://w3c.github.io/web-nfc/#handling-initial-reads-while-writing
Can we close issue?

[2020-12-30 09:24] beaufortfrancois commented on #540
https://github.com/w3c/web-nfc/blob/gh-pages/web-nfc.d.ts is part of the repo. I'll close this issue.

[2020-12-30 09:24] #540 closed, assigned to nobody

[2020-12-30 09:25] beaufortfrancois commented on #455
I believe this issue and https://github.com/w3c/web-nfc/blob/gh-pages/EXPLAINER.md#changes-done-after-origin-trial-ot have done the job. I'll close it.

[2020-12-30 09:25] #455 closed, assigned to nobody

[2020-12-30 10:31] kenchris commented on #551
Sure

[2020-12-30 10:31] #551 closed, assigned to nobody

[2021-01-23 23:17] asoltys commented on #529
Hi, I'm eagerly awaiting some kind of P2P NFC support to land in Chromium so I can use it in a PWA bitcoin wallet app I've made. I made a [short video](https://www.youtube.com/watch?v=IVNhW63GF9U) demoing the non-P2P web NFC functionality a few months ago. Is #567 looking like the best hope at this point?

[2021-03-02 12:40] hmiguel commented on #578
Agree, NDEF is in fact pretty useless these days.

[2021-03-02 13:54] zolkis commented on #578
Yes, we did think about extending, and there are `brainstorming` labeled discussions in the repo on the possible ways forward.
However, let's pull NDEF first.
Then, from this point forward, both the API spec and Chrome on Android implementation need more contributors.
If your companies are not W3C members, there is a possibility to become Invited Experts. @anssiko ?

[2021-03-02 14:30] anssiko commented on #578
Given this work happens in the [Web NFC Community Group](https://www.w3.org/community/web-nfc/), getting permission to contribute materially (proposing concrete spec changes, submitting PRs etc.) to the Web NFC API specification is even easier - just join the Community Group which is _open and free to attend for all_.

@OR13 and @hmiguel, and others interested in helping move this or other feature

[2021-03-15 20:35] pawisoon commented on #452
Is there any update on the status of adding support for other ISO 14443 chips?

[2021-04-01 07:36] pawisoon commented on #238
Is there any ongoing work to bring the support for sending and receiving data to ISO/IEC 14443 cards? I see there's many people interested in this kind of feature.

[2021-04-09 04:39] lyellick opened #616 "Web NFC Documentation Request: This site can’t ask for your permission Close any bubbles or overlays from other apps. Then try again."
This is not a bug in Web NFC, but a documentation gap.

I could not enable a NFC permission to my site while having a "bubble" overlaid on my android device.  It took me a bit to figure out that the small YouTube preview on the bottom right of the screen was the issue. When closing the preview or "bubble" I was able to allow the NFC permission for the site without the notice there was an overlay p

[2021-04-12 10:07] beaufortfrancois commented on #616
Thank you @lyellick!

For reference, here's a screenshot of the issue.
![image](https://user-images.githubusercontent.com/634478/114376632-17abf380-9b86-11eb-9e88-880051f4425b.png)

I've filed https://bugs.chromium.org/p/chromium/issues/detail?id=1198082 to track this issue.
Feel free to comment over there and star it to be updated.

[2021-04-12 10:07] #616 closed, assigned to nobody

[2021-04-12 12:30] lyellick commented on #616
Great! Thank you!

[2021-04-28 18:32] casparroelofs commented on #578
This will be highly valuable indeed. We are also looking to implement ECC capable smartcards in web applications.

[2021-05-03 19:43] eki27 opened #617 "Working accross domain"
Hello dears, I tested the API with a small web reader project.

It works fine locally, my android phone can directly request and read nfc with my local web server IP address :)

I decided to publish the same test over a public web server, over a regular dns with ssl (not dedicated server)... unfortunately I get a Not allowed error message (NFC permission request denied) from the API trough the jav

[2021-05-03 20:13] eki27 commented on #617
I'm sorry, my eventlistener was on the window objet, the API need autorisation the first time it be used on a website.

The window cannot give the authorisation itself...

The API works perfectly fine :)

[2021-05-03 20:13] #617 closed, assigned to nobody

[2021-05-09 15:24] icecold546 commented on #78
Hi, would a business use case for this feature accelerate the progress of development? I have a strong business use case for this feature.

[2021-05-10 17:13] anssiko commented on #78
Use cases are certainly helpful when development priorities are considered. Please feel free to share your use case here in this issue. Thanks!

[2021-05-12 01:17] icecold546 commented on #78
We offering a e-receipt service.

NDEF with URL to bring user to PWA >> NDEF has additional payload which PWA reads (likely a JSON, this as a referringNDEF would be prefect)>> Instant e-receipt without an mobile application and no connectivity needed to the internet

We have about 1500 POS machines that are waiting to use this e-receipt functionality

[2021-05-26 09:41] suttyct commented on #452
I would also like to follow up if there is any update on the support ISO 14443 chips / Biometric Passport reading

[2021-06-09 15:41] llermaly commented on #452
@FernandoJAlves Hello Fernando, did you have any luck on this? I'm facing the same sitatuation and I'm not sure on how to start.

Any guidance/code (with or without web NFC) would be appreciated.

thanks

[2021-06-11 14:21] ermac0 commented on #355
Hi,

I'm also curious if there's been any development in this area - web-nfc adopting these protocols. Is there any road map for that?

I work for an identity verification company and we verify ID documents digitally, which include NFC-enabled passports and ID Cards. Since the pandemic, there's been surge in usage of those kind of services, which can provide safe and secure means of checking ident

[2021-06-12 21:08] FernandoJAlves commented on #452
Unfortunately I was unable to find any way to use Web-NFC to solve my problem. At the time I was working on a university project that involved using NFC, and after the answers I got in this thread I decided to use the physical NFC readers I mentioned in my post, instead of smartphones.

Since then I have not been keeping up with Web-NFC, so I don't know if it already supports this functionality.

[2021-06-13 01:44] llermaly commented on #452
Using USB NFC reader is fine , could you provide any guidance ? Any example
code would de life saver

Thanks

On Sat, Jun 12, 2021, 17:09 FernandoJAlves ***@***.***> wrote:

[2021-06-13 18:32] FernandoJAlves commented on #452
For the USB NFC reader I'm almost sure we ended up using the pokusew/nfc-pcsc. That project still appears to be somewhat active, it had a release back in February, here's the link: https://github.com/pokusew/nfc-pcsc

I've looked for the repository of the university project I mentioned, but I no longer have access to it unfortunately. At the time, the project was proposed by a company, and they pr

[2021-06-30 21:30] MohammadR-prog opened #618 "Lock NFC tag"
Hi.
is there any way to lock nfc tag with password using js and chrome android?

[2021-06-30 21:34] lyellick commented on #618
You could always keep track of that nfc serial number and keep it's contents within a database where you only show it if the password is given. Nothing out of the box would support this and would need to be custom. This isn't an issue with the backend so I'm sure this will be closed as an non issue.

[2021-08-03 13:43] sc-rf opened #619 "Cancel Scan()"
I am working on intercepting the nfc data in a Reactjs (typescript) App, but when i change the route the Scanner still intercepting the NFC tag (and i want it to cancel the Listener when i change the page)

[2021-08-03 13:49] lyellick commented on #619
Can you show how you are initializing `NDEFReader()`? Also to be clear we aren't talking about `AbortController()`, right?

[2021-08-03 13:58] beaufortfrancois commented on #619
@sc-rf Does https://web.dev/nfc/#abort-nfc-operations help?

[2021-08-22 07:48] nico-martin commented on #558
I'm currently playing around with this and I think this is a crucial feature. Let's imagine I have NFC Tags in a Museum and anyone would be able to overwrite the content. That would be quite bad.

But looking through the Android specification I've seen NFC as a standard already has such a feature. So if i write an NFC Tag with readOnly from an Android app, I guess WebNFC could not just overwrite t

[2021-08-30 12:34] beaufortfrancois commented on #558
@kenchris What are your thoughts?

Thanks for the feedback @nico-martin !
I'd love to see more signals from developers requesting this feature before adding it to Web NFC.

[code]

Note that this addition would be pretty simple indeed on [Android]( https://developer.android.com/reference/android/nfc/tech/Ndef#makeReadOnly()), but not necessarily on [iOS currently](https://github.com/chariotsolutio

[2021-08-30 12:44] kenchris commented on #558
I am totally fine with this! It can return a promise and just reject if not supported

[2021-08-30 12:58] nico-martin commented on #558
Maybe a general NFC-question: How can I revoke the readOnly flag? Is this possible with NFC Tags?

[2021-08-30 12:59] beaufortfrancois commented on #558
This NFC operation is a one-way process and cannot be reverted for NFC tags.

[2021-08-30 19:54] nico-martin commented on #558
Ok. Maybe this could lead to some confusion for people that are not familiar with this.
Would it make sense to explicitly require a flag from the user that indicates this one-way usage?
This would be similar to the Web Blutooth API, where `requestDevice` explicitly requires an `acceptAllDevices: true` if no filters are set.

[code]

`allowIrreversibleOperation` would be false by default so the use

[2021-08-30 20:17] kenchris commented on #558
The Chrome UI could show trusted UI explaining the risk and allowing the user to cancel or proceed

[2021-08-30 20:19] nico-martin commented on #558
Sure. That makes sense.

[2021-08-31 08:43] rakuco opened #620 "Invalid Web IDL loop between NDEFRecordInit and NDEFMessageInit"
https://heycam.github.io/webidl/#idl-dictionaries says:

#454 introduced a case of 4, 5 and 6, as right now `NDEFRecordInit.data` can be an `NDEFMessageInit`, which is a dictionary with a sequence of `NDEFRecordInit`s. This creates a loop that is not allowed by Web IDL and which can cause implementation issues like https://bugs.chromium.org/p/chromium/issues/detail?id=1242274

[2021-09-08 15:44] kenchris commented on #620
External records allow sub-records, so it does make sense that you can create a record with other records inside it. NFC doesn't define any limit of sub records with sub records, but doing more than one or two would be quite rare.

If web idl doesn't allow this, then I don't know how to spec it

[2021-09-09 07:00] zolkis commented on #620
If we need to break the structural definition of recursive data, we can define a _function_ in NDEFRecord to init its `data` from an NDEFMessageInit. A breaking change :).

[2021-09-09 08:28] kenchris commented on #620
Maybe @littledan or @domenic have ideas here

[2021-09-09 23:36] reillyeon commented on #620
Prior to #454 the `data` field used the `any` type instead. This violates the spirit of the WebIDL specification but would give us the opportunity to add a depth limit to the [create NDEF message](https://w3c.github.io/web-nfc/#dfn-create-ndef-message) steps because we get to define when and how that arbitrary value is interpreted as an `NDEFMessageInit`.

[2021-09-13 20:03] domenic commented on #620
Yes, using `any` or `object` and doing the conversion in prose with an additional depth-check step seems like a good solution.

[2021-09-14 09:43] rakuco commented on #620
My involvement with this spec is very minimal, so it'd be great if someone could make the required changes here. I can help with the implementation changes later.

[2021-09-14 09:56] beaufortfrancois commented on #620
I'll work on a spec PR in the following days.

[2021-09-15 08:51] beaufortfrancois commented on #620
I've started a spec PR at https://github.com/w3c/web-nfc/pull/621. Please let me know what you think.

[2021-09-17 09:50] #620 closed, assigned to beaufortfrancois

[2021-09-17 09:50] beaufortfrancois commented on #620
@rakuco Spec has been updated. See https://w3c.github.io/web-nfc/#creating-ndef-message and https://github.com/w3c/web-nfc/pull/621

[2021-09-17 11:41] rakuco commented on #620
Thank you!

[2021-09-17 17:07] rakuco commented on #538
This ended up being filed again as #620 after it bit us in the Chromium implementation :/

[2021-09-17 17:18] rakuco opened #622 "Define NDEFMessage's, NDEFRecord's and NDEFReadingEvent's constructors normatively"
We have the following in Web IDL:

[code]

* There is nothing in the spec saying what `NDEFMessage`'s constructor is actually supposed to do and how it is supposed to use `messageInit`.
* I can see _some_ explanation about `NDEFRecord` and `NDEFRecordInit` [here](https://w3c.github.io/web-nfc/#the-ndefrecord-interface), but some of the description of what to do with some of `recordInit`'s members

[2021-09-17 17:22] rakuco commented on #622
@beaufortfrancois this is also related to #620, as at the moment the only entry point for setting a recursion depth is `NDEFReader.write()`, but it's also possible to manually create `NDEFMessage` and `NDEFRecord` objects.

[2021-09-17 18:40] reillyeon commented on #538
Shall we mark this as a duplicate?

[2021-09-17 18:41] rakuco commented on #538
Yeah, I think that makes sense, as all the recent discussion's tracked there.

[2021-09-21 10:35] rakuco opened #623 "Inconsistency on failure to parse URLs and absolute URLs"
https://w3c.github.io/web-nfc/#mapping-url-to-ndef says:

https://w3c.github.io/web-nfc/#mapping-absolute-url-to-ndef says:

They should both throw the same type of error.

[2021-09-21 11:03] rakuco commented on #510
See also: #622

[2021-09-22 06:53] beaufortfrancois commented on #622
@zolkis Do you have time to look at it?

[2021-09-22 07:11] beaufortfrancois commented on #623
You're absolutely right @rakuco. Thanks for catching!
Chromium implementation throws ~TypeError~SyntaxError for both url and absolute-url records.

[code]
See https://source.chromium.org/chromium/chromium/src/+/main:third_party/blink/renderer/modules/nfc/ndef_record.cc;l=219;drc=3176b81a49dc3811a2b55eb70df6499400d53470?q=absolute-url%20f:nfc%20f:cc$&ss=chromium

I've submitted https://github.com/w

[2021-09-22 07:15] zolkis commented on #622
Not right now, unfortunately - and not until the end of next week.

[2021-09-22 07:21] rakuco commented on #623
Actually according to the code snippet above the Chromium implementation throws a SyntaxError for both URLs and absolute URLs (it does throw a TypeError, but for the previous spec steps).

[2021-09-22 07:22] beaufortfrancois commented on #623
/me needs to wake up... I'll fix #624.

[2021-09-23 07:32] #623 closed, assigned to nobody

[2021-10-04 07:39] beaufortfrancois commented on #622
@zolkis gentle ping

[2021-10-15 17:45] noamr opened #626 "Heads up: refs to `pagevisibility` (external now visibile) about to be removed"
See w3c/page-visibility#73
Most of the page visibility spec is moving into the HTML Spec (see whatwg/html#7153), and calls are to be made explicitly instead of the "hook" (external-now-visible-algorithm).

Since this spec appears to rely on this ref, opening this issue to track switching to being called directly.

[2021-10-18 07:54] beaufortfrancois commented on #626
Do you have examples of other specs that have switched to the HTML spec for page visibility?

[2021-10-18 07:56] noamr commented on #626
Not yet
It's all quite new
I can assist with advice if someone starts a PR etc

[2021-10-18 08:12] yoavweiss commented on #626
It might be worthwhile to create a helper algorithm inside HTML that would enable specs that want to add processing when the page is hidden/visible to do that more easily (without mucking around with history traversal).

[2021-10-18 08:38] noamr commented on #626
I think if I add that algorithm I might as well add the 3 calls to the other specs

[2021-10-18 15:29] noamr commented on #626
See https://github.com/whatwg/html/pull/7238

[2021-10-18 17:59] zolkis commented on #622
IIUC, specifying a constructor for NDEFReadingEvent is not really necessary, as the default steps for ["firing an event"](https://dom.spec.whatwg.org/#concept-event-fire) apply and the rest (serialNumber and message) is specified in the [dispatch](https://w3c.github.io/web-nfc/#dispatching-nfc-content) step.
I made a section for that constructor, but feels trivial and obsolete. Anyway, if it helps

[2021-10-18 18:06] zolkis commented on #622
Should we also make explicit steps for the NDEFReader empty constructor, including the initially empty internal slots? It would just repeat information from the descriptions. By default I'd omit it, but if implementers expect having it, we can make it clear it's a trivial constructor.

[2021-10-18 18:10] zolkis commented on #622
The "static" constructors for NDEFRecord and NDEFMessage would be trivial as well, since the steps to fill them up will depend on the dynamic context, specified in the [Creating NDEF message ](https://w3c.github.io/web-nfc/#creating-ndef-message) section. However, here we might benefit from formal/normative steps, I am looking into what kind of text reshuffling would it cause in the spec.